<md-dialog class="team-dialog create-team">
    <i class="closeDialog fa fa-close" ng-click="$mdDialog.cancel()"></i>

    <h2>My Team Invites</h2>

    <!-- when user clicks on a .teamInvite-row then add .selected class to it -->
    <div class="teamInvite-row" ng-click="updateSelectedInvite(invite)" ng-repeat="invite in invites" ng-class="{'selected': invite.id == selectedInvite.id}">
        <span class="teamName" ng-bind="invite.team.name"></span>
        <span class="teamDate" ng-bind="invite.createdAt"></span>
    </div> <!-- .teamInvite-row -->

    <div class="dialog-row dialog-btns">
        <a href="" ng-click="$mdDialog.cancel()">Cancel</a>
        <!-- add .button--disabled if no rows are selected -->
        <a href="" class="button" ng-click="$mdDialog.hide(selectedInvite)">Accept Invite</a>
    </div> <!-- .dialog-row -->
</md-dialog>