<div class="teamView inner">

	<div class="col-2--dashboard">

		<div class="left">
			<dashnav></dashnav>
		</div>

	<div class="right">
		<div class="teamOverlay" ng-hide="team">
			<div class="teamOverlay__dialog">
				<div class="teamDialog__inner">
					<span>BUILD YOUR OWN TEAM</span>
					<h1>DEVWARS RANKED</h1>
					
					<div class="flex">
					
						<!-- add .button--disabled when there are no invites to the button below -->
						<a href="#" class="button button--clear button--disabled">
							<!-- when there are invites this div will show and the number of invites is placed inside of it -->
							<div class="invite-pill">2</div>
							TEAM INVITES
						</a>
						<a href="#" class="button">CREATE YOUR TEAM</a>
					</div>
				</div> <!-- .teamDialog__inner -->
			</div> <!-- .teamOverlay__dialog -->
			<img src="../assets/img/codexplosion.jpg" />
		</div> <!-- .teamOverlay -->
		
	<div>
		<div ng-hide="team">
			<div class="teams-left" style="font-size: 20px">
				<h1>no team</h1>
				<a href="" class="create-team" ng-click="createTeam()">Create Team</a>
				<h1>Team Invites</h1>
				<ul>
					<li ng-repeat="team in invites"><a href="" ng-click="joinTeam(team)"> {{ team.name }} [{{ team.tag }}] </a></li>
				</ul>
			</div>

		</div>


		<div ng-hide="isOwner">
			<h1>member</h1>
		</div>


		<div ng-show="team">

			<div class="teams-left">
				<div class="roster">
					<div class="roster-header">
						<span class="roster-title">Roster</span>
						<span class="roster-management" ng-show="isOwner">
							<a href="" class="edit-roster" ng-hide="editingRoster" ng-click="editRoster()">Edit</a>
							<a href="" class="edit-roster" ng-show="editingRoster" ng-click="editRoster()">Done</a>

							<a href="" class="invite-roster button" ng-click="invitePlayer()">Invite</a>
						</span>

					</div>
					<!--<div class="roster-players editable">-->
						<!--<a href="" class="player offline" ng-repeat="member in team.members">{{ member.username }}</a>-->
					<!--</div>-->
					<div class="roster-players" ng-class="{'editable' : editingRoster}">
						<a href="" class="player offline" ng-repeat="member in team.members track by $index" ng-click="removePlayer(member, $index, $event)">{{ member.username }}</a>
					</div>

					<!--TODO: see if invite list is needed for owners.-->
					<!--<div class="roster-header">-->
						<!--<span class="roster-title">Invites</span>-->
						<!--<div class="roster-players">-->
							<!--<a href="" class="player offline" ng-repeat="member in team.invites track by $index">{{ member.username }}</a>-->
						<!--</div>-->
					<!--</div>-->
				</div>

				<div class="team-stat global">
					<span>Global</span>
					<span>#24</span>
				</div>

				<div class="team-stat games">
					<span>Games</span>
					<span>{{ statistics.gamesPlayed }}</span>
				</div>

				<div class="team-stat win-stat">
					<span>W/L Ratio</span>
					<span>{{ (statistics.gamesWon / (statistics.gamesPlayed > 0.0 ? statistics.gamesPlayed : 1.0)) | number : 2 }}</span>
				</div>

				<a href="" class="disband-team" ng-show="isOwner" ng-click="disbandTeam()">Disband Team</a>

				<a href="" class="disband-team" ng-hide="isOwner" ng-click="leaveTeam(team)">Leave Team</a>

                <a href="" class="disband-team" ng-click="confirmTeamSignup()">Confirm Team Signup</a>

			</div>

			<div class="teams-right">

				<div class="team-header">

					<a class="team-icon active" onclick="document.getElementById('fileInput').click()">
						<img ng-src="/v1/teams/{{team.id}}/avatar"/>
					</a>

                    <input type="file" id="fileInput" style="display: none;" fileread="chosenImage">

					<div class="team-info">
						<div class="team-rank rank--no-name" rank="team.rank"></div>
						<span class="team-name">{{ team.name }}</span>
						<span class="team-tag">[{{ team.tag }}]</span>

						<div class="team-xp">
							<span>{{ team.rank.rank }}</span>
							<span>{{ team.xp }}/{{ team.nextRank.xpRequired }} XP</span>
							<div class="xp-bar">
								<div class="xp-total" style="width: {{ (team.nextRank.xpRequired - team.xp ) / (team.nextRank.xpRequired - team.rank.xpRequired) * 100 }}%"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="team-history">
					<div class="team-history--header">
						<span class="history-title">Match History</span>
						<span class="team-losses">L{{ statistics.gamesLost }}</span>
						<span class="team-wins">W{{ statistics.gamesWon }}</span>
					</div>
					<div class="team-history--content">
						<div class="team-history--game" ng-repeat="match in team.matchHistory">
							<span class="match-stat opposition">{{  }}</span>
							<div class="match-stat score">
								<span class="team-blue">6</span>
								<span class="divider">-</span>
								<span class="team-red">8</span>
							</div>
							<span class="match-stat date">03 Aug 2015</span>
							<span class="match-stat xp">-350 XP</span>
							<a href="" class="match-details">Game Details</a>
						</div>
						<!--<div class="team-history&#45;&#45;game">-->
							<!--<span class="match-stat opposition">vs TeamSoloMid</span>-->
							<!--<div class="match-stat score">-->
								<!--<span class="team-blue">6</span>-->
								<!--<span class="divider">-</span>-->
								<!--<span class="team-red">8</span>-->
							<!--</div>-->
							<!--<span class="match-stat date">03 Aug 2015</span>-->
							<!--<span class="match-stat xp">-350 XP</span>-->
							<!--<a href="" class="match-details">Game Details</a>-->
						<!--</div>-->
						<!--<div class="team-history&#45;&#45;game">-->
							<!--<span class="match-stat opposition">vs TeamSoloMid</span>-->
							<!--<div class="match-stat score">-->
								<!--<span class="team-blue">6</span>-->
								<!--<span class="divider">-</span>-->
								<!--<span class="team-red">8</span>-->
							<!--</div>-->
							<!--<span class="match-stat date">03 Aug 2015</span>-->
							<!--<span class="match-stat xp">-350 XP</span>-->
							<!--<a href="" class="match-details">Game Details</a>-->
						<!--</div>-->

						<!--<div class="team-history&#45;&#45;game win&#45;&#45;game">-->
							<!--<span class="match-stat opposition">vs bum bandits</span>-->
							<!--<div class="match-stat score">-->
								<!--<span class="team-blue">8</span>-->
								<!--<span class="divider">-</span>-->
								<!--<span class="team-red">1</span>-->
							<!--</div>-->
							<!--<span class="match-stat date">03 Aug 2015</span>-->
							<!--<span class="match-stat xp">+350 XP</span>-->
							<!--<a href="" class="match-details">Game Details</a>-->
						<!--</div>-->

						<!--<div class="team-history&#45;&#45;game">-->
							<!--<span class="match-stat opposition">vs TeamSoloMid</span>-->
							<!--<div class="match-stat score">-->
								<!--<span class="team-blue">6</span>-->
								<!--<span class="divider">-</span>-->
								<!--<span class="team-red">8</span>-->
							<!--</div>-->
							<!--<span class="match-stat date">03 Aug 2015</span>-->
							<!--<span class="match-stat xp">-350 XP</span>-->
							<!--<a href="" class="match-details">Game Details</a>-->
						<!--</div>-->

						<!--<div class="team-history&#45;&#45;game">-->
							<!--<span class="match-stat opposition">vs TeamSoloMid</span>-->
							<!--<div class="match-stat score">-->
								<!--<span class="team-blue">6</span>-->
								<!--<span class="divider">-</span>-->
								<!--<span class="team-red">8</span>-->
							<!--</div>-->
							<!--<span class="match-stat date">03 Aug 2015</span>-->
							<!--<span class="match-stat xp">-350 XP</span>-->
							<!--<a href="" class="match-details">Game Details</a>-->
						<!--</div>-->

						<!--<div class="team-history&#45;&#45;game">-->
							<!--<span class="match-stat opposition">vs TeamSoloMid</span>-->
							<!--<div class="match-stat score">-->
								<!--<span class="team-blue">6</span>-->
								<!--<span class="divider">-</span>-->
								<!--<span class="team-red">8</span>-->
							<!--</div>-->
							<!--<span class="match-stat date">03 Aug 2015</span>-->
							<!--<span class="match-stat xp">-350 XP</span>-->
							<!--<a href="" class="match-details">Game Details</a>-->
						<!--</div>-->

						<!--<div class="team-history&#45;&#45;game">-->
							<!--<span class="match-stat opposition">vs TeamSoloMid</span>-->
							<!--<div class="match-stat score">-->
								<!--<span class="team-blue">6</span>-->
								<!--<span class="divider">-</span>-->
								<!--<span class="team-red">8</span>-->
							<!--</div>-->
							<!--<span class="match-stat date">03 Aug 2015</span>-->
							<!--<span class="match-stat xp">-350 XP</span>-->
							<!--<a href="" class="match-details">Game Details</a>-->
						<!--</div>-->

						<!--<div class="team-history&#45;&#45;game">-->
							<!--<span class="match-stat opposition">vs TeamSoloMid</span>-->
							<!--<div class="match-stat score">-->
								<!--<span class="team-blue">6</span>-->
								<!--<span class="divider">-</span>-->
								<!--<span class="team-red">8</span>-->
							<!--</div>-->
							<!--<span class="match-stat date">03 Aug 2015</span>-->
							<!--<span class="match-stat xp">-350 XP</span>-->
							<!--<a href="" class="match-details">Game Details</a>-->
						<!--</div>-->

						<!--<div class="team-history&#45;&#45;game">-->
							<!--<span class="match-stat opposition">vs TeamSoloMid</span>-->
							<!--<div class="match-stat score">-->
								<!--<span class="team-blue">6</span>-->
								<!--<span class="divider">-</span>-->
								<!--<span class="team-red">8</span>-->
							<!--</div>-->
							<!--<span class="match-stat date">03 Aug 2015</span>-->
							<!--<span class="match-stat xp">-350 XP</span>-->
							<!--<a href="" class="match-details">Game Details</a>-->
						<!--</div>-->

					</div>
				</div>

		</div>


	</div>





			</div>
		</div> <!-- .right -->
	</div>
</div>