<div class="teamView inner">

	<div class="col-2--dashboard">

		<div class="left">
			<dashnav></dashnav>
		</div>

		<div class="right">

	<div>
		<div ng-hide="team">
			<div class="teams-left">
				<h1>no team</h1>
				<a style="font-size: 10px" href="" class="create-team" ng-click="createTeam()">Create Team</a>
			</div>

		</div>


		<div ng-hide="isOwner">
			<h1>member</h1>
		</div>


		<div ng-show="team">

			<div class="teams-left">
				<div class="roster">
					<div class="roster-header">
						<span class="roster-title">Roster</span>
						<span class="roster-management" ng-show="isOwner">
							<a href="" class="edit-roster" ng-hide="editingRoster" ng-click="editRoster()">Edit</a>
							<a href="" class="edit-roster" ng-show="editingRoster" ng-click="editRoster()">Done</a>

							<a href="" class="invite-roster button" ng-click="invitePlayer()">Invite</a>
						</span>

					</div>
					<!--<div class="roster-players editable">-->
						<!--<a href="" class="player offline" ng-repeat="member in team.members">{{ member.username }}</a>-->
					<!--</div>-->
					<div class="roster-players" ng-class="{'editable' : editingRoster}">
						<a href="" class="player offline" ng-repeat="member in team.members track by $index" ng-click="removePlayer(member.username, $index)">{{ member.username }}</a>
					</div>

					<!--TODO: see if invite list is needed for owners.-->
					<!--<div class="roster-header">-->
						<!--<span class="roster-title">Invites</span>-->
						<!--<div class="roster-players">-->
							<!--<a href="" class="player offline" ng-repeat="member in team.invites track by $index">{{ member.username }}</a>-->
						<!--</div>-->
					<!--</div>-->
				</div>

				<div class="team-stat global">
					<span>Global</span>
					<span>#24</span>
				</div>

				<div class="team-stat games">
					<span>Games</span>
					<span>47</span>
				</div>

				<div class="team-stat win-stat">
					<span>W/L Ratio</span>
					<span>0.74</span>
				</div>

				<a href="" class="disband-team" ng-show="isOwner" ng-click="disbandTeam()">Disband Team</a>
				<a href="" class="disband-team" ng-hide="isOwner" ng-click="leaveTeam()">Leave Team</a>

			</div>

			<div class="teams-right">

				<div class="team-header">

					<a class="team-icon active">
						<img src="../../../assets/img/test.png"/>
					</a>

					<div class="team-info">
						<div class="team-rank"></div>
						<span class="team-name">{{ team.name }}</span>
						<span class="team-tag">[C9]</span>

						<div class="team-xp">
							<span>Bronze I</span>
							<span>50/200 XP</span>
							<div class="xp-bar">
								<div class="xp-total"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="team-history">
					<div class="team-history--header">
						<span class="history-title">Match History</span>
						<span class="team-losses">L15</span>
						<span class="team-wins">W25</span>
					</div>
					<div class="team-history--content">
						<div class="team-history--game" ng-repeat="match in team.matchHistory">
							<span class="match-stat opposition">{{  }}</span>
							<div class="match-stat score">
								<span class="team-blue">6</span>
								<span class="divider">-</span>
								<span class="team-red">8</span>
							</div>
							<span class="match-stat date">03 Aug 2015</span>
							<span class="match-stat xp">-350 XP</span>
							<a href="" class="match-details">Game Details</a>
						</div>
						<!--<div class="team-history&#45;&#45;game">-->
							<!--<span class="match-stat opposition">vs TeamSoloMid</span>-->
							<!--<div class="match-stat score">-->
								<!--<span class="team-blue">6</span>-->
								<!--<span class="divider">-</span>-->
								<!--<span class="team-red">8</span>-->
							<!--</div>-->
							<!--<span class="match-stat date">03 Aug 2015</span>-->
							<!--<span class="match-stat xp">-350 XP</span>-->
							<!--<a href="" class="match-details">Game Details</a>-->
						<!--</div>-->
						<!--<div class="team-history&#45;&#45;game">-->
							<!--<span class="match-stat opposition">vs TeamSoloMid</span>-->
							<!--<div class="match-stat score">-->
								<!--<span class="team-blue">6</span>-->
								<!--<span class="divider">-</span>-->
								<!--<span class="team-red">8</span>-->
							<!--</div>-->
							<!--<span class="match-stat date">03 Aug 2015</span>-->
							<!--<span class="match-stat xp">-350 XP</span>-->
							<!--<a href="" class="match-details">Game Details</a>-->
						<!--</div>-->

						<!--<div class="team-history&#45;&#45;game win&#45;&#45;game">-->
							<!--<span class="match-stat opposition">vs bum bandits</span>-->
							<!--<div class="match-stat score">-->
								<!--<span class="team-blue">8</span>-->
								<!--<span class="divider">-</span>-->
								<!--<span class="team-red">1</span>-->
							<!--</div>-->
							<!--<span class="match-stat date">03 Aug 2015</span>-->
							<!--<span class="match-stat xp">+350 XP</span>-->
							<!--<a href="" class="match-details">Game Details</a>-->
						<!--</div>-->

						<!--<div class="team-history&#45;&#45;game">-->
							<!--<span class="match-stat opposition">vs TeamSoloMid</span>-->
							<!--<div class="match-stat score">-->
								<!--<span class="team-blue">6</span>-->
								<!--<span class="divider">-</span>-->
								<!--<span class="team-red">8</span>-->
							<!--</div>-->
							<!--<span class="match-stat date">03 Aug 2015</span>-->
							<!--<span class="match-stat xp">-350 XP</span>-->
							<!--<a href="" class="match-details">Game Details</a>-->
						<!--</div>-->

						<!--<div class="team-history&#45;&#45;game">-->
							<!--<span class="match-stat opposition">vs TeamSoloMid</span>-->
							<!--<div class="match-stat score">-->
								<!--<span class="team-blue">6</span>-->
								<!--<span class="divider">-</span>-->
								<!--<span class="team-red">8</span>-->
							<!--</div>-->
							<!--<span class="match-stat date">03 Aug 2015</span>-->
							<!--<span class="match-stat xp">-350 XP</span>-->
							<!--<a href="" class="match-details">Game Details</a>-->
						<!--</div>-->

						<!--<div class="team-history&#45;&#45;game">-->
							<!--<span class="match-stat opposition">vs TeamSoloMid</span>-->
							<!--<div class="match-stat score">-->
								<!--<span class="team-blue">6</span>-->
								<!--<span class="divider">-</span>-->
								<!--<span class="team-red">8</span>-->
							<!--</div>-->
							<!--<span class="match-stat date">03 Aug 2015</span>-->
							<!--<span class="match-stat xp">-350 XP</span>-->
							<!--<a href="" class="match-details">Game Details</a>-->
						<!--</div>-->

						<!--<div class="team-history&#45;&#45;game">-->
							<!--<span class="match-stat opposition">vs TeamSoloMid</span>-->
							<!--<div class="match-stat score">-->
								<!--<span class="team-blue">6</span>-->
								<!--<span class="divider">-</span>-->
								<!--<span class="team-red">8</span>-->
							<!--</div>-->
							<!--<span class="match-stat date">03 Aug 2015</span>-->
							<!--<span class="match-stat xp">-350 XP</span>-->
							<!--<a href="" class="match-details">Game Details</a>-->
						<!--</div>-->

						<!--<div class="team-history&#45;&#45;game">-->
							<!--<span class="match-stat opposition">vs TeamSoloMid</span>-->
							<!--<div class="match-stat score">-->
								<!--<span class="team-blue">6</span>-->
								<!--<span class="divider">-</span>-->
								<!--<span class="team-red">8</span>-->
							<!--</div>-->
							<!--<span class="match-stat date">03 Aug 2015</span>-->
							<!--<span class="match-stat xp">-350 XP</span>-->
							<!--<a href="" class="match-details">Game Details</a>-->
						<!--</div>-->

						<!--<div class="team-history&#45;&#45;game">-->
							<!--<span class="match-stat opposition">vs TeamSoloMid</span>-->
							<!--<div class="match-stat score">-->
								<!--<span class="team-blue">6</span>-->
								<!--<span class="divider">-</span>-->
								<!--<span class="team-red">8</span>-->
							<!--</div>-->
							<!--<span class="match-stat date">03 Aug 2015</span>-->
							<!--<span class="match-stat xp">-350 XP</span>-->
							<!--<a href="" class="match-details">Game Details</a>-->
						<!--</div>-->

					</div>
				</div>

		</div>


	</div>





			</div>
		</div> <!-- .right -->
	</div>
</div>