<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="listing">
  <blog-post-here></blog-post-here>
<!--   <nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
	  <div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
		  <span class="sr-only">Toggle navigation</span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" ui-sref="app.feature-a">Angular JS 1.5 - ES6 Module Unit testing and Karma Integration
		  testing seed</a>
	  </div>
	  <div id="navbar" class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
		  <li ui-sref-active="active"><a ui-sref="app.feature-a">Feature A</a></li>
		  <li ui-sref-active="active"><a ui-sref="app.feature-b">Feature B</a></li>
		</ul>
		<ul class="nav navbar-nav pull-right">
		  <li>
			<user-info-component name="$ctrl.name"></user-info-component>
		  </li>
		</ul>
	  </div>
	</div>
  </nav> -->

  <header>
  	<div class="header">
		<div class="container header__top-bar">
			<div class="row">
				<a href="#" target="_blank" title="Check DevWars out on Twitch" class="twitch-live"><i class="icon"></i>DevWars is live right now! <span>Click here to watch</span></a>
				<div class="social-icons">
					<ul>
						<li class="facebook"><a target="_blank" title="Facebook" href="https://www.facebook.com/DevWars"><i class="icon"></i></a></li>
						<li class="twitter"><a target="_blank" title="Twitter" href="https://twitter.com/devwarstv"><i class="icon"></i></a></li>
						<li class="twitch"><a target="_blank" title="Twitch" href="https://twitter.com/devwarstv"><i class="icon"></i></a></li>
						<li class="youtube"><a target="_blank" title="YouTube" href="https://www.youtube.com/devwars"><i class="icon"></i></a></li>
						<li class="google"><a target="_blank" title="Google+" href="https://plus.google.com/+DevWars"><i class="icon"></i></a></li>
						<li class="reddit"><a target="_blank" title="Reddit" href="https://www.reddit.com/r/devwars"><i class="icon"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container header__bottom-bar">
			<div class="row">
				<a href="/" title="DevWars - The Developers Battleground" class="logo">
					<img src="../../../../assets/image/logo.png" alt="DevWars - The Developers Battleground"></a>
				<div class="navbar">
					<ul>
						<li class="current"><a title="Home" href="#">Home</a></li>
						<li><a title="Games" href="#">Games</a></li>
						<li><a title="Rankings" href="#">Rankings</a></li>
						<li><a title="Tutorials" href="#">Tutorials</a></li>
						<li><a title="Blog" href="#">Blog</a></li>
						<li><a title="Podcast" href="#">Podcast</a></li>
					</ul>
				</div>
				<div class="search"></div>
				<div class="account"></div>
			</div>
		</div>
	</div>
  </header>

  <div class="container" ui-view></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 headings">
				<h1>CSS Tutorials</h1>
			</div>
		</div>
	</div>
	<div class="container">
	    <div class="row">
	        <div class="col-sm-6">
	            <list-item class="list-item list-item--featured">
		            <a href="#">
			            <span class="list-item__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer suscipit, massa non rutrum condimentum. </span>
			            <span class="list-item__read-more">Read More</span>
			            <img src="../../../../assets/image/3_2.gif" alt="">
		            </a>
	            </list-item>
	        </div>
	        <div class="col-sm-6">
	            <list-item class="list-item list-item--featured">
		            <a href="#">
			            <span class="list-item__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer suscipit, massa non rutrum condimentum. </span>
			            <span class="list-item__read-more">Read More</span>
			            <img src="../../../../assets/image/3_2.gif" alt="">
		            </a>
	            </list-item>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-sm-6 col-md-4">
	            <list-item class="list-item">
		            <a href="#">
			            <span class="list-item__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer suscipit, massa non rutrum condimentum, elit sapien luctus ex.</span>
			            <span class="list-item__read-more">Read More</span>
			            <img src="../../../../assets/image/3_2.gif" alt="">
		            </a>
	            </list-item>
	        </div>
	        <div class="col-sm-6 col-md-4">
	            <list-item class="list-item">
		            <a href="#">
			            <span class="list-item__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer suscipit, massa non rutrum condimentum, elit sapien luctus ex.</span>
			            <span class="list-item__read-more">Read More</span>
			            <img src="../../../../assets/image/3_2.gif" alt="">
		            </a>
	            </list-item>
	        </div>
	        <div class="col-sm-12 col-md-4">
	            <list-item class="list-item">
		            <a href="#">
			            <span class="list-item__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer suscipit, massa non rutrum condimentum, elit sapien luctus ex.</span>
			            <span class="list-item__read-more">Read More</span>
			            <img src="../../../../assets/image/3_2.gif" alt="">
		            </a>
	            </list-item>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-sm-6 col-md-4">
	            <list-item class="list-item">
		            <a href="#">
			            <span class="list-item__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer suscipit, massa non rutrum condimentum, elit sapien luctus ex.</span>
			            <span class="list-item__read-more">Read More</span>
			            <img src="../../../../assets/image/3_2.gif" alt="">
		            </a>
	            </list-item>
	        </div>
	        <div class="col-sm-6 col-md-4">
	            <list-item class="list-item">
		            <a href="#">
			            <span class="list-item__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer suscipit, massa non rutrum condimentum, elit sapien luctus ex.</span>
			            <span class="list-item__read-more">Read More</span>
			            <img src="../../../../assets/image/3_2.gif" alt="">
		            </a>
	            </list-item>
	        </div>
	        <div class="col-sm-12 col-md-4">
	            <list-item class="list-item">
		            <a href="#">
			            <span class="list-item__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer suscipit, massa non rutrum condimentum, elit sapien luctus ex.</span>
			            <span class="list-item__read-more">Read More</span>
			            <img src="../../../../assets/image/3_2.gif" alt="">
		            </a>
	            </list-item>
	        </div>
	    </div>
	</div>

</div>
