<div class="listing">

  <header></header>

  <div class="container" ui-view></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 headings">
				<h1>CSS Tutorials</h1>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<list-item class="list-item list-item--featured"></list-item>
			</div>
			<div class="col-sm-6">
				<list-item class="list-item list-item--featured"></list-item>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<list-item class="list-item"></list-item>
			</div>
			<div class="col-sm-6 col-md-4">
				<list-item class="list-item"></list-item>
			</div>
			<div class="col-sm-6 col-md-4">
				<list-item class="list-item"></list-item>
			</div>
			<div class="col-sm-6 col-md-4">
				<list-item class="list-item"></list-item>
			</div>
			<div class="col-sm-6 col-md-4">
				<list-item class="list-item"></list-item>
			</div>
			<div class="col-sm-6 col-md-4">
				<list-item class="list-item"></list-item>
			</div>
		</div>
	</div>

</div>
