<div class="listing">

  <header></header>

  <div class="container" ui-view></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 headings">
				<h1>CSS Tutorials</h1>
			</div>
		</div>
	</div>
	<div class="container">

<!-- 		<div class="row">
			<div class="col-sm-6">
				<list-item class="list-item list-item--featured"></list-item>
			</div>
			<div class="col-sm-6">
				<list-item class="list-item list-item--featured"></list-item>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6 col-md-4">
				<list-item class="list-item"></list-item>
			</div>
			<div class="col-sm-6 col-md-4">
				<list-item class="list-item"></list-item>
			</div>
			<div class="col-sm-6 col-md-4">
				<list-item class="list-item"></list-item>
			</div>
			<div class="col-sm-6 col-md-4">
				<list-item class="list-item"></list-item>
			</div>
			<div class="col-sm-6 col-md-4">
				<list-item class="list-item"></list-item>
			</div>
			<div class="col-sm-6 col-md-4">
				<list-item class="list-item"></list-item>
			</div>
		</div>
 -->
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<div class="stat-box stat-box--rank">
					<div class="stat-box__inner">
						<h2 class="stat-box__title">Diamond III</h2>
						<img src="../../../../assets/image/avatar.png" class="stat-box__image" alt="Diamond III">
						<div class="stat-box__xp">350/450xp</div>
						<div class="stat-box__xp-bar">
							<div class="stat-box__xp-bar--total"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="stat-box stat-box--team">
					<div class="stat-box__inner">
						<a href="" title="Super Epic Programmers">
							<h2 class="stat-box__title">Team</h2>
							<img src="../../../../assets/image/avatar.png" class="stat-box__image" alt="Super Epic Programmers">
							<div class="stat-box__desc">Super Epic Programmers</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="stat-box stat-box--accolades">
					<div class="stat-box__inner">
						<h2 class="stat-box__title">Accolades (48)</h2>
						<div class="stat-box__item">
							<img src="../../../../assets/image/avatar.png" class="stat-box__image" alt="High Roller">
							<div class="stat-box__desc">High Roller</div>
						</div>						
						<div class="stat-box__item">
							<img src="../../../../assets/image/avatar.png" class="stat-box__image" alt="Exterminator">
							<div class="stat-box__desc">Exterminator</div>
						</div>
						<div class="stat-box__item">
							<img src="../../../../assets/image/avatar.png" class="stat-box__image" alt="Full Coverage">
							<div class="stat-box__desc">Full Coverage</div>
						</div>
						<div class="stat-box__item">
							<img src="../../../../assets/image/avatar.png" class="stat-box__image" alt="Other Badge">
							<div class="stat-box__desc">Other Badge</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-2">
				<div class="stat-box stat-box--score">
					<div class="stat-box__inner">
						<h2 class="stat-box__title">34</h2>
						<div class="stat-box__desc">Played</div>					
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-2">
				<div class="stat-box stat-box--score">
					<div class="stat-box__inner">
						<h2 class="stat-box__title">18</h2>
						<div class="stat-box__desc">Won</div>						
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-2">
				<div class="stat-box stat-box--score">
					<div class="stat-box__inner">
						<h2 class="stat-box__title">1.06</h2>
						<div class="stat-box__desc">Ratio</div>					
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-2">
				<div class="stat-box stat-box--score">
					<div class="stat-box__inner">
						<h2 class="stat-box__title"># 34</h2>
						<div class="stat-box__desc">Rank</div>				
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="stat-box stat-box--score">
					<div class="stat-box__inner">
						<h2 class="stat-box__title">345678</h2>
						<div class="stat-box__desc">DevBits</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="stat-box stat-box--friends">
					<div class="stat-box__inner">
						<h2 class="stat-box__title">Friends (48)</h2>
						<div class="stat-box__item">
							<a href="#">
								<img src="../../../../assets/image/avatar.png" class="stat-box__image" alt="Terence">
								<div class="stat-box__desc">Terence</div>
							</a>
						</div>						
						<div class="stat-box__item">
							<a href="#">
								<img src="../../../../assets/image/avatar.png" class="stat-box__image" alt="Donald">
								<div class="stat-box__desc">Donald</div>
							</a>
						</div>
						<div class="stat-box__item">
							<a href="#">
								<img src="../../../../assets/image/avatar.png" class="stat-box__image" alt="Steven">
								<div class="stat-box__desc">Steven</div>
							</a>
						</div>
						<div class="stat-box__item">
							<a href="#">
								<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkBAMAAACCzIhnAAAAFVBMVEUYGBjT09MsLCy+vr6ampp3d3dUVFQOJRn3AAABa0lEQVRYw+2WwVLCMBBAMRbua1rPcRTO1Bk8gwLnoo7nCAP//wlyYMSapi8hHGCm79w3291sdtPr6Oi4EtRuFycM32TPYh0e4UMOLEONmfwyMcHG0QlRNlLjlY0nqaMtGaqUfxSkPIrDlINEhrmVBtqzWTUpd23GQJrQhpJ3qeC/4v5MSTO5X+mLB0OpxJzmt0959iozn3LvVcRHTgfpoqFgMSXL/IqNVyro/Ajl5lKVE3LJzqrYhNNP6THu5PT7wrdynHT30yeMKiH7tGnJMzl+8sOf8eDjzrTpu5ILUOHep/7iDtD2hDcMo2qFfjnfe4xffcxoLiLaeVuSte5dHqPt53zP4ivw59T2T5HzpWFjWEoN/U4hNuIwMXSIkc7RqDvh94vbeVD6FG1h8IeP/kxasBSEw3AQ0Qb2UdjIVNJOAU+LsLW0ImWKU5Jr1hcid9sLMZQKb4CSlTEsSd7LmTAFHCSX7EECOHz7A5DOld15x9ssAAAAAElFTkSuQmCC" class="stat-box__image" alt="Bacon Face McGee">
								<div class="stat-box__desc">Bacon Face McGee</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-6">
				<div class="stat-box stat-box--social">
					<div class="stat-box__inner">
						<h2 class="stat-box__title">Social</h2>
						<div class="social-icons social-icons--inverted">
							<ul>
								<li class="website"><a target="_blank" title="website" href="#"><i class="icon"></i></a></li>
								<li class="facebook"><a target="_blank" title="Facebook" href="#"><i class="icon"></i></a></li>
								<li class="google"><a target="_blank" title="Google+" href="#"><i class="icon"></i></a></li>
								<li class="github"><a target="_blank" title="Github" href="#"><i class="icon"></i></a></li>
								<li class="linkedin"><a target="_blank" title="Linkedin" href="#"><i class="icon"></i></a></li>	
								<li class="email"><a target="_blank" title="E-mail" href="#"><i class="icon"></i></a></li>								
								<li class="twitter"><a target="_blank" title="Twitter" href="#"><i class="icon"></i></a></li>
								<li class="reddit"><a target="_blank" title="Reddit" href="#"><i class="icon"></i></a></li>
								<li class="codepen"><a target="_blank" title="Codepen" href="#"><i class="icon"></i></a></li>	
								<li class="youtube"><a target="_blank" title="YouTube" href="#"><i class="icon"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="stat-box stat-box--activity-log">
					<div class="stat-box__inner">
						<h2 class="stat-box__title">Activity Log</h2>
						<div class="stat-box__entry">
							<span class="stat-box__entry--date">
							19 Apr 16</span><span class="stat-box__entry--desc">
							Played some thing and bla bla bla bla bla</span><span class="stat-box__entry--xp">
							89 xp</span><span class="stat-box__entry--devbits">
							48023 DevBits</span>
						</div>
						<div class="stat-box__entry">
							<span class="stat-box__entry--date">
							19 Apr 16</span><span class="stat-box__entry--desc">
							Played some thing and bla bla bla bla bla</span><span class="stat-box__entry--xp">
							89 xp</span><span class="stat-box__entry--devbits">
							48023 DevBits</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
