<div class="stat-box__inner">
	<h2 class="stat-box__title">Accolades (48)</h2>
	<div class="stat-box__item">
		<img src="../../../../assets/image/avatar.png" class="stat-box__image" alt="High Roller">
		<div class="tooltip">This is my tooltip. There are many like it, but this one is mine</div>
		<div class="stat-box__desc">High Roller</div>
	</div>						
	<div class="stat-box__item">
		<img src="../../../../assets/image/avatar.png" class="stat-box__image" alt="Exterminator">
		<div class="tooltip">This is my tooltip. There are many like it, but this one is mine</div>
		<div class="stat-box__desc">Exterminator</div>
	</div>
	<div class="stat-box__item">
		<img src="../../../../assets/image/avatar.png" class="stat-box__image" alt="Full Coverage">
		<div class="tooltip">This is my tooltip. There are many like it, but this one is mine</div>
		<div class="stat-box__desc">Full Coverage</div>
	</div>
	<div class="stat-box__item">
		<img src="../../../../assets/image/avatar.png" class="stat-box__image" alt="Other Badge">
		<div class="tooltip">This is my tooltip. There are many like it, but this one is mine</div>
		<div class="stat-box__desc">Other Badge</div>
	</div>
</div>