<md-dialog class="md-dialog-container--confirmDialog">
    <i class="closeDialog fa fa-close" ng-click="$mdDialog.hide()"></i> <!-- .closeDialog -->
    <div class="dialog-container">

        <div class="title">
            {{ title }}
        </div>

        <p class="dialog-container__message" ng-bind="message"></p>

        <div class="dialog-container__actions" layout="row" layout-align="space-around center">
            <button class="button" ng-click="$mdDialog.hide()">{{yes}}</button>
            <button class="button button--warn" ng-click="$mdDialog.cancel()">{{no}}</button>
        </div>
    </div>
</md-dialog>