@import url(http://fonts.googleapis.com/css?family=Roboto);

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #191919;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 0;
    height: 100%;
}

body {
    height: 100%;
}

nav {
    height: 80px;
}

nav img {
    float: left;
    margin: 10px;
}

nav .button-container {
    vertical-align: top;
    display: inline-block;
    width: 500px;
    height: 60px;
    margin: 10px;
    float: right;
}

nav .second {
    width: 500px;
    margin: 10px 0 0;
}

nav .button {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: calc(33.33% - 10px);
    line-height: 26px;
    margin: 2px 2px;
    font-size: 12px;
    color: #fff;
}

nav .second .button {
    line-height: 56px;
    margin: 2px 2px;
    vertical-align: top;
}

nav .blue-button {
    background: #03A9F4;
}

nav .blue-button:hover {
    background: #14b4fc;
}

nav .red-button {
    background: #E91E63;
}

nav .red-button:hover {
    background: #eb3573;
}

nav .default-button {
    background: #0E9841;
}

nav .default-button:hover {
    background: #10af4b;
}

.viewcode-container {
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
}

.blue-team,
.red-team {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    height: calc(50% - 20px);
    box-sizing: border-box;
}

.blue-team { margin-bottom: 20px; border: 5px solid #03A9F4;}
.red-team { margin-top: 20px; border: 5px solid #E91E63; }

.html {
    border-right: 1px solid rgba(255,255,255,0.3);
}

.css {
    border-left: 1px solid rgba(255,255,255,0.3);
    border-right: 1px solid rgba(255,255,255,0.3);
}

.js {
    border-left: 1px solid rgba(255,255,255,0.3);
}

.title {
    position: absolute;
    top: 0; right: 0; left: 0;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    padding: 5px 0 0;
    background: #191919;
}

.team__html { color: rgb(228, 80, 38); }
.team__css { color: rgb(10, 116, 184); }
.team__js { color: rgb(228, 162, 40); }


.player {
    position: absolute;
    top: 35px; right: 0; left: 0;
    font-size: 14px;
    line-height: 25px;
    min-height: 25px;
    text-align: center;1px solid rgba(255,255,255,0.3);2padding: 0 0 5px;
    color: #fff; 
    background: #191919;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

pre {
    margin: 61px 0 0;
    height: calc(100% - 61px);
    overflow: auto;
}

code {
    height: 100%;
    width: 100%;
    padding: 10px 0 0 10px;
    font-size: 12px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #fff;
    border-radius: 98px;
}

::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

::-webkit-scrollbar-thumb:active {
    background: #ddd;
}

::-webkit-scrollbar-track {
    background: #666;
    border: 0px none ffff;
    border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
    background: #666;
}

::-webkit-scrollbar-corner {
    background: transparent;
}


.inactive {
    display: none;
}

.single-active-blue {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 5px solid #03A9F4;
}

.single-active-red {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 5px solid #E91E63;
}

.team-active {
    display: inline-block;
    height: 100%;
    margin: 0;
}

.reload {
    position: relative;
    float: right;
    margin: 38px 60px 0 0;
    height: 40px;
    font-size: 14px;
}

.reload span {
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    text-align: center;
}

.regular-radio:focus { outline: none; }

.regular-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  margin: 0;
  height: 30px;
  cursor: pointer;
  width: 100px;
  background-color: #e56c69;
  transition: all 0.3s ease; 
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;  
}
 
.regular-radio:checked:after {
  content: '';
  width: 45px;
  height: 24px;
  top: 3px;
  left: 3px;
  position: absolute;
  background: #fff;
}

.regular-radio:checked {
  background-color: #6ADD75;
}

.regular-radio:after {
  content: ' ';
  width: 45px;
  height: 24px;
  top: 3px;
  left: 52px;
  position: absolute;
  background: #fff;
  transition: all 0.3s ease; 
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;  
}

@media (max-width: 1440px) {

    nav {
        height: 160px;
    }    

    nav img {
        margin: 50px 20px;
    }

    nav .button-container {
        clear: right;
        margin: 10px 0 0;

    }

    .reload {
        position: absolute;
        left: 30%;
        margin: 68px 60px 0 0;
    }

    .viewcode-container {
        height: calc(100vh - 160px);
    }

}

@media (max-width: 870px) {

    nav {
        height: 170px;
    }

    nav img {
        margin: 10px 20px;
    }

    nav .second {
        display: none;
    }

    nav .button-container {
        width: 100%;
        margin: 0;
    }

    nav .button {
        width: calc(33.33% - 4px);
        line-height: 40px;
    }

    .viewcode-container {
        height: calc(100vh - 170px);
    }

    .reload {
        position: absolute;
        left: auto;
        right: 15px;
        top: 35px;
        margin: 0;
    }

}

@media (max-width: 379px) { 

    nav {
        height: 150px;
    }

    nav img {
        height: 40px;
    }

    .reload {
        top: 25px;
    }

    .reload span {
        top: -20px;
    }
}