<md-dialog class="md-dialog-container--signupDialog">
    <i class="closeDialog fa fa-close" ng-click="$mdDialog.hide()"></i> <!-- .closeDialog -->
    <div class="dialog-container" ng-controller="SignupDialogController" ng-enter="signup(credentials)">
        <h2 class="dialog-container__title">Register with DevWars</h2>

		<div class="socialConnect__box">
            <i class="socialConnect fa fa-facebook" title="Facebook" oauth provider="facebook"><a href="/v1/oauth/facebook"></a></i>
            <i class="socialConnect fa fa-twitter" title="Twitter" oauth provider="twitter"><a href="/v1/oauth/twitter"></a></i>
            <i class="socialConnect fa fa-google-plus" title="Google+" oauth provider="google"><a href="/v1/oauth/google"></a></i>
            <i class="socialConnect fa fa-reddit" title="Reddit" oauth provider="reddit"><a href="/v1/oauth/reddit"></a></i>
            <i class="socialConnect fa fa-twitch" title="Twitch" oauth provider="twitch"><a href="/v1/oauth/twitch"></a></i>
            <i class="socialConnect fa fa-github-alt" title="Github" oauth provider="github"><a href="/v1/oauth/github"></a></i>
		</div>
       
		<div class="title--line"><span>or</span></div>

        <ul class="conflicts" ng-if="conflicts.length > 0">
            <li class="conflict" ng-repeat="conflict in conflicts">
                {{conflict}}
            </li>
        </ul>

        <form class="form__group">
            <input name="username" type="text" ng-model="credentials.username" class="form__input--text"
                   placeholder="Username">
            <input name="email" type="text" ng-model="credentials.email" class="form__input--text" placeholder="Email">
            <input name="new-passwordd" type="password" ng-model="credentials.password" class="form__input--text"
                   placeholder="Password">
            <input name="new-passwordd" type="password" ng-model="credentials.password2" class="form__input--text"
                   placeholder="Confirm Password">
        </form>

        <div on-create="setWidgetId(widgetId)" on-success="setResponse(response)" vc-recaptcha
             key="'6LeoIgQTAAAAAMYim_-jaDVnt_0JWPH4szTzEiio'"></div>
		<div class="action-buttons">
        	<button class="button" ng-click="signup(credentials)">Sign Up</button>
			<a href="#" ng-click="$mdDialog.cancel({login: true})">Already have an account?</a>
        </div>
    </div>
</md-dialog>



