/* Name:            Header

Contents:
	01.  Top bar
		01.1 Twitch message
		01.2 Social icons
	02. Logo 
	03. Navbar
	04. Search
	05. User details

Variables
$file__element--property_modifier
========================================================================== */


$header__topbar--line-height 						: x;

$header__nav-item--color 		 					: x;
$header__nav-item--color_hover 						: x;
$header__nav-item--background_hover					: x;
$header__nav-item--line-height-xs 					: x;
$header__nav-item--line-height-md 					: x;
$header__nav-item--font-size	 					: x;

/* ==========================================================================
	01. Top bar
========================================================================== */


/* ==========================================================================
	01.1 Twitch message
========================================================================== */


/* ==========================================================================
	01.2 Social icons
========================================================================== */


/* ==========================================================================
	02. Logo
========================================================================== */


/* ==========================================================================
	03. Navbar
========================================================================== */


/* ==========================================================================
	04. Search
========================================================================== */


/* ==========================================================================
	05. User details
========================================================================== */