<div class="passResetView">

  <!-- ONLY ONE OF THESE DISPLAYS "forgotPass" and "resetPass" SHOW AT A TIME! ADD style="display: none;" -->
  <div class="resetPass">
    <div class="banner">
      <h1>Reset Password</h1>
    </div>
    <div class="inner">
      <h2>Create a new password</h2>
            <span>
                To complete the password reset process, please confirm the email address shown below, and then enter the new password.
            </span>

      <label>New Password:</label>
      <input type="password" ng-model="password"/>

      <label>Confirm Password:</label>
      <input type="password" ng-model="passwordConfirmation"/>

      <button ng-class="{'button--disabled': !password || !passwordConfirmation}"
              ng-disabled="!password || !passwordConfirmation" class="button" ng-click="resetPassword()">Reset Password
      </button>

    </div>
  </div> <!-- .resetPass -->


</div> <!-- .passResetView -->
