/* Name:			Header

Contents:
	01. Mobile
	02. Tablet
	03. Logo 
	04. Navbar
		04.1 Navbar Active
	05. Search
	06. User details

Variables
$file__element--property_modifier
============================================================================ */

$header__topbar--line-height						: 40px;
$header__topbar--background							: $bg-color-1;
$header__background 								: $black--color;

$header__nav-item--color							: $base-font--color;
$header__nav-item--color_hover						: $link--color;
$header__nav-item--background_hover					: transparent;
$header__nav-item--line-height						: 90px;
$header__nav-item--text-transform					: uppercase;
$header__nav-item--font-family						: $alt--font-face;
$header__nav-item--font-size						: 14px;

/*  ========================================================================
	01. Mobile
	======================================================================== */

.header {
	background: $header__background;
	transition: all .6s;

	&__bottom-bar {
		margin: 0 20px;

		.row {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	.row:after {
		content: none;
	}

	.logo {
		padding: 10px 0;

		img {
			display: block;
			max-height: 50px;
			transition: all .25s;
		}
	}
}

@include breakpoint(xs-only) {

	header {
		padding-top: 40px;
	}

	.header {

		.logo {
			max-width: 60%;
		}

		&__top-bar {
			display: none;
		}
	}
}

/*  ========================================================================
	02. Tablet
	======================================================================== */

@include breakpoint(sm) {

	header {
		padding-bottom: 110px;

		.container {
			width: auto;
		}

		.row {
			margin: 0;
			padding: 0 40px;
		}
	}

	.header {
		position: fixed;
		z-index: 100;
		top: 0;
		right: 0;
		left: 0;

		&__top-bar {
			overflow: hidden;
			height: $header__topbar--line-height;
			line-height: $header__topbar--line-height;
			background: $header__topbar--background;
			transition: all .25s;
		}

		.twitch-notification {
			display: inline-block;
			vertical-align: top;
			word-spacing: 3px;
			text-transform: uppercase;
			text-decoration: none;
			color: $base-font--color;
			font-family: $alt--font-face;
			font-size: 14px;

			span {
				text-decoration: underline;
				color: $brand-secondary--color;
			}

			.icon {
				position: relative;
				vertical-align: top;
				margin: 0 5px 0 0;
				line-height: $header__topbar--line-height;
				color: $twitch--color;

				&:before {
					position: relative;
					z-index: 2;
					content: $icon__twitch;
					border-radius: 100%;
				}

				&:after {
					position: absolute;
					z-index: 1;
					top: 50%;
					left: 50%;
					width: 5px;
					height: 5px;
					transform: translate(-50%,-50%);
					border-radius: 50%;
					box-shadow: 0 0 0 0 #F0F0F0, 0 0 0 0 rgba($red--color, .7);
					animation: pulse 2s infinite cubic-bezier(.66,.33,0,1);
				}
			}

			&--live {

				.icon {
					color: $red--color;

					&:before {
						content: $icon__record;
					}

					&:after {
						content: '';
					}
				}
			}
		}

		.social-icons {
			position: relative;
			float: right;
		}

		&.is-scrolling-down {

			.header__top-bar {
				height: 0;
			}
		}
	}
}

/*  ========================================================================
	03. Desktop
	======================================================================== */

@include breakpoint(md) {

	header {
		padding-bottom: 130px
	}

	.header {

		.logo {
			width: 15%;
			padding: 0;

			img {
				max-height: 90px;
			}
		}

		.search {
			order: 2;
			width: 5%;
		}

		.account {
			order: 3;
			width: 10%;
		}

		&.is-scrolling-down {

			.logo img {
				max-height: 40px;
			}

			.navbar li>a {
				line-height: ($header__nav-item--line-height / 3) * 2;
			}
		}
	}
}

/*  ========================================================================
	04. Navbar
	======================================================================== */

.navbar {

	&__container {
		position: fixed;
		display: flex;
		align-items: center;
		top: 0;
		bottom: 0;
		width: 65%;
		right: -65%;
		min-height: 100%;
        background: $bg-color-3;
		border-left: 6px solid lighten($bg-color-3, 10%);
		transition: right .6s;
	}

	ul {
		list-style-type: none;
		text-align: center;
		width: 100%;
	}

	li {

		&.current a {
			color: $header__nav-item--color_hover;
			background: $header__nav-item--background_hover;
		}

		> a {
			display: block;
			text-decoration: none;
			color: $header__nav-item--color;
			line-height: $header__nav-item--line-height;
			text-transform: $header__nav-item--text-transform;
			font-family: $header__nav-item--font-family;
			font-size: $header__nav-item--font-size;
		}

		span {
			display: inline-block;
			position: relative;
			padding: 0 5px;
		}
	}

	&__hamburger {
		display: block;
		position: relative;
		padding: 7px 0;
		width: 24px;
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;

		&:before {
			content: '';
			position: absolute;
			transform: translateY(-50%);
			top: 50%;
			right: 0;
			left: 0;
			height: 2px;
			background: #fff;
		}
	}
}

@include breakpoint(sm) {

	.navbar__container {
		width: 45%;
		right: -45%;
	}
}

@include breakpoint(md) {

	.navbar {
		order: 1;
		width: 65%;

		&__hamburger {
			display: none;
		}

		&__container {
			position: static;
			width: auto;
			border: none;
			background: none;
		}

		ul {
			display: flex;

			&:hover {

				a {
					color: rgba($header__nav-item--color, .5);
				}
			}
		}

		li {
			flex-grow: 1;

			> a {
				transition: all .25s;
			}

			span:before {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				right: 0;
				height: 3px;
				transition: all .25s;
			}

			&.current {

				> a {
					color: $header__nav-item--color_hover;
					
				}

				span:before {
					background: $header__nav-item--color_hover;
				}

				&:hover {

					> a {
						color: $header__nav-item--color_hover;
					}
				}
			}

			&:hover {

				> a {
					color: $header__nav-item--color;
				}
			}
		}
	}
}

/*  ========================================================================
	01. Mobile
	======================================================================== */

.navbar--active {
	right: 20%;

	.header {
		left: -20%;
		right: 20%;
	}

	.navbar__container {
		z-index: 100;
		right: 0;
		transition: all .4s;
	}
}

/*  ========================================================================
	05. Search
	======================================================================== */


/*  ========================================================================
	06. User details
	======================================================================== */