/* Name:            Contact Us Page

Contents:
	01.

Variables
$file__element--property_modifier
========================================================================== */



/* ==========================================================================
	01.
========================================================================== */

.contact-sidebar {
    &__address {
        font-style: normal;
    }
    
    &__socials {
        margin-top: 40px;   
    }

}