/* Name:            Homepage

Contents:
	01. Main
    02. Mobile
    03. Tablet
    04. Desktop

Variables
$file__element--property_modifier
========================================================================== */



/* ==========================================================================
01. Main
========================================================================== */

.hero {
  width: 100%;
  height: 50vh;
  background-color: lighten($black--color, 5%);
  margin-bottom: -80px;
  font-size: 100px;
  text-align: center;
  position: relative;
  z-index: -1;
  
  &__inner {
    @extend %absolute-center;
  }
  
  &__title, &__subtitle {
    font-weight: 400;
    text-transform: none;
  }
  
  &__title {
    font-size: (42em / 100);
    
  }
  
  &__subtitle {
    font-size: (24em / 100);
  }
}

/* ==========================================================================
02. Mobile
========================================================================== */


@include breakpoint(xs-only) {

}

/* ==========================================================================
03. Tablet
========================================================================== */

@include breakpoint(sm) {

}

/* ==========================================================================
04. Desktop
========================================================================== */

@include breakpoint(md) {

}
