/* Name:			The Leaderboards Page

Contents:
	01. Main

Variables
$file__element--property_modifier
========================================================================== */



/* ==========================================================================
	01. Main
========================================================================== */

.leaderboard {
	width: 100%;
	font-size: (12em / 100);
	text-align: left;
	
	thead {
		text-transform: uppercase;
        color: $text-color-muted;
	}
	
	tbody {
		font-weight: bold;
		
		tr {
			&:hover {
				background-color: $bg-color-4;
			}
		}
	}
	
	th,
	td {
		padding: $s-space 0;
		border-bottom: 1px solid $divider-color;
	}
	
	th {
		padding-bottom: $sm-space;
	}

	.icon-facebook:before {
		content: $icon__facebook;
	}
	
	&__rank {
		.rank__icon {
			padding-left: 20px;
			font-size: 15px;
			&--increase { color: $positive-color; }
			&--neutral { color: $blue-color; font-size: 12px; }
			&--decrease { color: $negative-color; }
		}
	}
	
	&__avatar,
	&__user {
		vertical-align: middle;
	}
	
	&__avatar {
		height: 50px;
		width: 50px;
		margin-right: $s-space;
		border-radius: 50%;
		overflow: hidden;
		
		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}
	
	&__user {}
}