<div class="settingsView">

	<div class="settings-content">
		<form ng-init="initProfile()">

			<label>
				<img ng-src="{{ AuthService.user.avatarURL }}" />

				<div ng-hide="AuthService.user.inventory.avatarChanges < 1" class="avatar-upload">
					<!--<span class="button" ng-click="editAvatarImage($event)">Upload Image</span>-->
					<input type="file" fileread="selectedAvatarImage">
					<span>Upload a new avatar</span>
				</div>
				<div ng-show="AuthService.user.inventory.avatarChanges < 1">
				 Need to purchase avatar changes.	
				</div>
			</label>

			<label>
				<span>Username</span>
				<input type="text" ng-model="profile.username"/>
			</label>

			<label>
				<span>URL</span>
				<input type="text" ng-model="profile.url"/>
			</label>

			<label>
				<span>Company</span>
				<input type="text" ng-model="profile.company"/>
			</label>

			<label>
				<span>Location</span>
				<input type="text" ng-model="profile.location" />
			</label>

			<label>
				<input type="button" ng-click="updateInfo(profile)" class="button" value="Save" />
			</label>

		</form>
	</div> <!-- .settings-content -->
</div> <!-- .right -->
