/* Name:            Icons

Contents:
	01. Icon Import
	02. Icon Styles

Variables
$file__element--property_modifier
========================================================================== */


$icon--font-face 									: 'DevWars Brand Icons';
$icon--font-size 									: 16px;

$icon__facebook										: '';
$icon__twitter										: '';
$icon__twitch										: '';
$icon__google										: '';
$icon__cloud9										: '';
$icon__slack										: '';
$icon__github										: '';
$icon__youtube										: '';
$icon__linkedin										: '';
$icon__reddit										: '';
$icon__codepen										: '';
$icon__website										: '';
$icon__email										: '';
$icon__podcast										: '';
$icon__search										: '';
$icon__devbit										: '';
$icon__user											: '';
$icon__team											: '';
$icon__games										: '';
$icon__tutorial										: '';
$icon__blog											: '';
$icon__podcast										: '';
$icon__chevron										: '';
$icon__check										: '';
$icon__cross										: '';
$icon__settings										: '';
$icon__record										: '';
$icon__comment										: '';

/* ==========================================================================
	01. Icon Import
========================================================================== */

// @charset "UTF-8";

// @font-face {
// 	font-family: "DevWars Brand Icons";
// 	src:url("../../icon/devwars-icons.eot");
// 	src:url("../../icon/devwars-icons.eot?#iefix") format("embedded-opentype"),
// 		url("../../icon/devwars-icons.woff") format("woff"),
// 		url("../../icon/devwars-icons.ttf") format("truetype");
// 	font-weight: normal;
// 	font-style: normal;
// }

/* ==========================================================================
	01. Icon Styles
========================================================================== */

.icon-styles {
	display: inline-block;
	speak: none;
	vertical-align: middle;
	text-transform: none;
	line-height: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $icon--font-face;
}

.icon {
	display: inline-block;
	speak: none;
	vertical-align: middle;
	line-height: normal;
	font-size: $icon--font-size;
}

.icon:before {
	@extend .icon-styles;
}