/* Name:            Icons

Contents:
	01. Icon Import
	02. Icon Styles

Variables
$file__element--property_modifier
========================================================================== */


$icon--font-face 									: 'DevWars Brand Icons';
$icon--font-size 									: 16px;

$icon__facebook										: x;
$icon__twitter										: x;
$icon__twitch										: x;
$icon__google										: x;
$icon__cloud9										: x;
$icon__slack										: x;
$icon__github										: x;
$icon__youtube										: x;
$icon__linkedin										: x;
$icon__reddit										: x;
$icon__codepen										: x;
$icon__website										: x;
$icon__email										: x;
$icon__podcast										: x;
$icon__search										: x;
$icon__devbit										: x;
$icon__user											: x;
$icon__team											: x;
$icon__games										: x;
$icon__tutorial										: x;
$icon__blog											: x;
$icon__podcast										: x;
$icon__chevron										: x;
$icon__check										: x;
$icon__cross										: x;
$icon__settings										: x;
$icon__record										: x;
$icon__comment										: x;

/* ==========================================================================
	01. Icon Import
========================================================================== */

@charset "UTF-8";

// @font-face {
// 	font-family: "DevWars Brand Icons";
// 	src:url("../../icon/devwars-icons.eot");
// 	src:url("../../icon/devwars-icons.eot?#iefix") format("embedded-opentype"),
// 		url("../../icon/devwars-icons.woff") format("woff"),
// 		url("../../icon/devwars-icons.ttf") format("truetype");
// 	font-weight: normal;
// 	font-style: normal;
// }

/* ==========================================================================
	01. Icon Styles
========================================================================== */

.icon-styles {
	display: inline-block;
	speak: none;
	vertical-align: middle;
	text-transform: none;
	line-height: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $icon--font-face;
}

.icon {
	display: inline-block;
	speak: none;
	vertical-align: middle;
	line-height: normal;
	font-size: $icon--font-size;
}

.icon:before {
	@extend .icon-styles;
}