/* Name:            Tooltips

Contents:
	01.

Variables
$file__element--property_modifier
========================================================================== */

$tooltip--padding                  					: x;
$tooltip--width                    					: x;
$tooltip--font-size                					: x;
$tooltip--color                   					: x;
$tooltip--background               					: x;

/* ==========================================================================
	01.
========================================================================== */