.homeView {

	.full-container {
		background: url('../../../assets/img/featuredbg.jpg');
		margin-bottom: 30px;
		overflow: hidden;

		.scanlines {
			background-image: url("../../../assets/img/overlay.png");
			position: absolute;
			z-index: 2;
			top: 0; left: 0; bottom: 0; right: 0;
			background-color: rgba(0, 0, 0, 0.75);
		}

		.hero-video {
			position: absolute;
			z-index: 1;
			top: -100px;
			right: 0;
			bottom: 0;
			min-width: 100%;
			min-height: 100%;
			background: url('../../../assets/vid/tunnel.jpg') fixed;
			background-size: cover;
			@include transition(opacity, 1s, linear);
		}

		.hero-image {
			position: relative;
			z-index: 3;

			img {
				width: 100%;
			}

		}

		.hero-signup {
			position: relative;
			z-index: 3;
			text-align: center;
			padding: 50px 30px 0;

			h1 { 
				font-weight: 200;
				font-size: 33px;
				display: inline-block;
				vertical-align: middle;
			}

			span {
				display: inline-block;
				font-size: 13px;
				padding: 10px 0;
			}

		}

	}

	.hero-stats {
		position: absolute;
		z-index: 4;
		right: 0; bottom: 0; left: 0;
		text-align: center;
		padding: 20px 0;
		background-color: rgba(0, 0, 0, 0.9);

		h3 {
			display: block;
			font-weight: 200;
			font-size: 14px;
		}

		span {
			display: block;
			font-size: 22px;
		}

	}
	

	.or-seperator {
		color: $lgray;
		display: block;
		text-align: center;
		padding: 10px 0;
		font-size: 14px;
		position: relative;
		&:before, &:after {
			content: "";
			border-top: 1px solid $lgray;
			position: absolute;
			top: 50%;
			width: 40%;
		}
		&:before { left: 0; }
		&:after { right: 0; }
	}

	.featured-links__social {
		text-align: center;
		font-size: 0;
		i {
			display: inline-block;
			font-size: 20px;
			width: calc(16.66% - 8px);
			margin: 0 4px;
			border: 1px solid white;
			padding: 10px 0;
			cursor: pointer;
			&.fa-facebook { margin-left: 0; }
			&.fa-github-alt { margin-right: 0; }
		}
	}

	$social-names: facebook, twitter, gplus, reddit, twitch, github;
	$social-colors: $facebook-color, $twitter-color, $gplus-color, $reddit-color, $twitch-color, $github-color;
	@each $current-color in $social-colors {
		$i: index($social-colors, $current-color);
		.featured-links__social i:nth-child(#{$i}):hover {
			background: nth($social-colors, $i);
			border-color: white;
		}
	}

	.main-content {
	  width: 50%;
	  margin: 0 auto;
	}

	.play-banner {
	  border: 1px solid $gray;
	  margin-top: 20px;
	  padding: 20px 40px;
	}

	.play__text, .play__button {
	  display: inline-block;
	  vertical-align: middle;
		padding: 10px 0;
	}

	.play__text {
	  font-size: 26px;
	  width: 80%;
	  letter-spacing: 1px;
	  text-transform: uppercase;
	}

	.play__button {
	  text-align: center;
	  font-size: 14px;
	  width: 20%;
	}


	/* Blog Element Styling */

	.blogpost__preview {
	  padding-bottom: 20px;
	  h6 {
		margin: 0;
		padding: 2px;
		font-weight: 200;
	  }

	  height: 158px;
	}

	.blogpost__header {
	  font-weight: 300;
	  font-size: 24px;
	}

	.blogpost__image {
	  width: 100%;
	  margin: 5px;
	  margin-right: 20px;
	  background-image: url('http://i.imgur.com/TJuHgJY.jpg');
	  background-size: contain;
	  background-repeat: no-repeat !important;
	  padding: 30px 0 30px 0;
	}

	.readMoreLink {
	  color: $primary-color;
	  font-weight: 600;
	  cursor: pointer;
	}

	.blogpost__content {
	  display: inline;
	  line-height: 24px;
	  word-break: break-word;
	  font-size: 15px;
	}
}