.verify-container {
	margin-top: 120px;
	width: 80%;
	margin-left: 10%;
    padding: 2px;
    @include border-radius(5px);
    @include gradient(left, $primary-color, $secondary-color);
}

.verify {
	background-color: $gray;
    border-radius: 5px;
	h1 {
	text-align: center;
	padding: 32px 0 32px 0;
	}
	a {
		color: $primary-color;
		font-weight: 700;
		&:hover {
			color: color($blue, light);
		}
	}
	p {
		padding: 0 50px 32px 50px;
	}
}