
   

<div class="footer">
    <div class="newsletter-opt">
        <div class="container">
            <h3 class="newsletter-opt__title">Receive our weekly challenges and DevWars updates!</h3>
            <a href="#" class="btn btn-primary newsletter-opt__btn">Subscribe</a>
        </div>
    </div>
   
    <div class="container">   
        <div class="sitemap">
            <ul class="sitemap__list">
                <li class="sitemap__list-item">DevWars</li>
                <li class="sitemap__list-item"><a href="#" class="sitemap__link">Home</a></li>
                <li class="sitemap__list-item"><a href="#" class="sitemap__link">Blog</a></li>
                <li class="sitemap__list-item"><a href="#" class="sitemap__link">Rankings</a></li>
            </ul>

            <ul class="sitemap__list">
                <li class="sitemap__list-item">Useful Links</li>
                <li class="sitemap__list-item"><a href="#" class="sitemap__link">Past Games</a></li>
                <li class="sitemap__list-item"><a href="#" class="sitemap__link">Apply to Play</a></li>
                <li class="sitemap__list-item"><a href="#" class="sitemap__link">Rules</a></li>
                <li class="sitemap__list-item"><a href="#" class="sitemap__link">FAQ</a></li>
            </ul>

            <ul class="sitemap__list">
                <li class="sitemap__list-item">Company</li>
                <li class="sitemap__list-item"><a href="#" class="sitemap__link">About DevWars</a></li>
                <li class="sitemap__list-item"><a href="#" class="sitemap__link">The Team</a></li>
                <li class="sitemap__list-item"><a href="#" class="sitemap__link">Donate</a></li>
                <li class="sitemap__list-item"><a href="#" class="sitemap__link">Contact Us</a></li>
            </ul>

            <ul class="sitemap__list">
                <li class="sitemap__list-item">Connect With Us</li>

                <li class="sitemap__list-item sitemap__list-item--icon">
                    <a href="https://www.twitch.tv/devwars" class="sitemap__link icon icon-twitch" target="_blank"></a>
                    <a href="https://www.youtube.com/devwars" class="sitemap__link icon icon-youtube" target="_blank"></a>
                    <a href="https://www.facebook.com/DevWars" class="sitemap__link icon icon-facebook" target="_blank"></a>
                </li>
                
                <li class="sitemap__list-item sitemap__list-item--icon">
                    <a href="https://twitter.com/devwarstv" class="sitemap__link icon icon-twitter" target="_blank"></a>
                    <a href="https://plus.google.com/+DevWars" class="sitemap__link icon icon-google" target="_blank"></a>
                    <a href="https://www.reddit.com/r/devwars" class="sitemap__link icon icon-reddit" target="_blank"></a>
                </li>
            </ul>
        </div>
    </div>
    
    
    <div class="footer-bottom">
        <div class="footer-bottom__inner container">
            <span class="footer-bottom__copyright">&copy; DevWars 2016</span>
            <ul class="footer-bottom__links list-inline">
                <li class="footer-bottom__list-item">
                    <a class="footer-bottom__link" href="#">Contact</a>
                </li>
                <li class="footer-bottom__list-item">
                    <a class="footer-bottom__link" href="#">Privacy</a>
                </li>
            </ul>
        </div>
    </div>
</div>










