<md-dialog class="md-dialog-container--editAvatarImageDialog">
    <i class="closeDialog fa fa-close" ng-click="$mdDialog.hide()"></i> <!-- .closeDialog -->
    <div class="dialog-container">
        <h2 class="dialog-container__header">Crop your new profile picture</h2>
		<div class="cropArea">
			<img-crop class="img-cropping" image="image" result-image="myCroppedImage" area-min-size="minSize" change-on-fly="true" area-type="square"></img-crop>
			<img ng-src="{{myCroppedImage}}">
		</div>
		<span class="button" ng-click="uploadImage(myCroppedImage)">Set new profile picture</span>
    </div> <!-- .dialog-container -->
</md-dialog>

