<div class="stat-box__inner">
	<h2 class="stat-box__title">Activity Log</h2>
	<div class="stat-box__entry">
		<span class="stat-box__entry--date">
		19 Apr 16</span><span class="stat-box__entry--desc">
		Played some thing and bla bla bla bla bla</span><span class="stat-box__entry--xp">
		89 xp</span><span class="stat-box__entry--devbits">
		48023 DevBits</span>
	</div>
	<div class="stat-box__entry">
		<span class="stat-box__entry--date">
		19 Apr 16</span><span class="stat-box__entry--desc">
		Played some thing and bla bla bla bla bla</span><span class="stat-box__entry--xp">
		89 xp</span><span class="stat-box__entry--devbits">
		48023 DevBits</span>
	</div>
</div>