<div class="header">
	<div class="container header__top-bar">
		<div class="row">
			<a href="https://www.twitch.tv/devwars" target="_blank" title="Watch DevWars LIVE on Twitch!" class="twitch-notification"><i class="icon"></i>Check out Devwars on Twitch <span>Click here to watch</span></a>
			<div class="social-icons">
				<ul>
					<li class="facebook"><a target="_blank" title="Facebook" href="https://www.facebook.com/DevWars"><i class="icon icon-facebook"></i></a></li>
					<li class="twitter"><a target="_blank" title="Twitter" href="https://twitter.com/devwarstv"><i class="icon icon-twitter"></i></a></li>
					<li class="twitch"><a target="_blank" title="Twitch" href="https://www.twitch.tv/devwars"><i class="icon icon-twitch"></i></a></li>
					<li class="youtube"><a target="_blank" title="YouTube" href="https://www.youtube.com/devwars"><i class="icon icon-youtube"></i></a></li>
					<li class="google"><a target="_blank" title="Google+" href="https://plus.google.com/+DevWars"><i class="icon icon-google"></i></a></li>
					<li class="reddit"><a target="_blank" title="Reddit" href="https://www.reddit.com/r/devwars"><i class="icon icon-reddit"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container header__bottom-bar">
		<div class="row">
			<a href="/" title="DevWars - The Developers Battleground" class="logo">
				<img src="../../../../assets/image/logo.png" alt="DevWars - The Developers Battleground"></a>
			<div class="search"></div>
			<div class="account"></div>
			<nav class="navbar">
				<a href="#" class="navbar__hamburger"></a>
				<div class="navbar__container">
					<ul>
						<li class="current"><a title="Home" href="#"><span>Home</span></a></li>
						<li><a title="Games" href="#"><span>Games</span></a></li>
						<li><a title="Rankings" href="#"><span>Rankings</span></a></li>
						<li><a title="Tutorials" href="#"><span>Tutorials</span></a></li>
						<li><a title="Blog" href="#"><span>Blog</span></a></li>
						<li><a title="Podcasts" href="#"><span>Podcasts</span></a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</div>