<div class="homeView">

	<div class="full-container">

		<div class="row">

			<div class="scanlines"></div>

			<video class="hero-video" autoplay poster="../../../assets/vid/tunnel.jpg" loop>
				<source src="../../../assets/vid/tunnel.mp4" type="video/mp4">
			</video>

			<div class="hero-stats container">
				<div class="row">
					<div class="span3">
						<h3>Games Played</h3>
						<span>{{info.gameCount}}</span>
					</div>
					<div class="span3">
						<h3>Total Users</h3>
						<span>{{info.userCount | number}}</span>
					</div>
					<div class="span3">
						<h3>Blog Posts</h3>
						<span>{{info.blogPostCount | number}}</span>
					</div>
					<div class="span3">
						<h3>Points Earned</h3>
						<span>{{info.pointsEarned | number}}</span>
					</div>
				</div> 
			</div> 
			
			<div class="container">
				<div class="row">
					<div class="span8 hero-image">
						<img src="../../../assets/img/featuredinner.png"/>
					</div>

					<div class="span4 hero-signup" ng-hide="AuthService.user">
						<h1>Become a DevWarrior</h1>
						<span>Sign Up With:</span>
						<div class="featured-links__social">
							<i class="socialConnect fa fa-facebook" oauth provider="facebook"><a href="/v1/oauth/facebook"></a></i>
							<i class="socialConnect fa fa-twitter" oauth provider="twitter"><a href="/v1/oauth/twitter"></a></i>
							<i class="socialConnect fa fa-google-plus" oauth provider="google"><a href="/v1/oauth/google"></a></i>
							<i class="socialConnect fa fa-reddit" oauth provider="reddit"><a href="/v1/oauth/reddit"></a></i>
							<i class="socialConnect fa fa-twitch" oauth provider="twitch"><a href="/v1/oauth/twitch"></a></i>
							<i class="socialConnect fa fa-github-alt" oauth provider="github"><a href="/v1/oauth/github"></a></i>
						</div>
						<div class="or-seperator">OR</div>
						<a href="" class="button" ng-click="DialogService.signup($event)">Sign Up With DevWars</a>
					</div>
				</div>
			</div>

		</div>
	</div> <!-- container -->

	<div class="container">

		<div class="row">
			<div class="play-banner">
				<span class="play__text">Want to play in the next DevWars?</span>
				<a href="" class="button" tabindex="0" ng-click="DialogService.applyForNearestGame($event)">Apply Now</a>
			</div>
		</div> <!-- row -->

		<div class="row">

			<div class="span9">

				<h3 class="title"><span>Latest News</span></h3>

				<div class="blogpost__preview" ng-repeat="post in posts" layout="row">

					<div flex="25" class="blogpost__image" flex style="background-image: url('{{post.image_url}}')"></div>

					<div layout="column" flex>
						<h3 class="blogpost__header">{{post.title}}</h3>
						<h6>By {{post.user.username}} - {{post.timestamp | date : 'mediumDate' : 'UTC'}}</h6>
						<p class="blogpost__content">{{post.description}}</p>
						<a class="readMoreLink" ng-click="scrollToBlogPost(post.id)">Read More</a>
					</div>
				</div>
			</div>

			<div class="span3">
				<sidebar></sidebar>
			</div> <!-- .right -->
		</div> <!-- row -->

		</div> <!-- .inner -->
	</div> <!-- container -->
</div> <!-- .homeView -->