<div class="homeView">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@devwarstv">
    <meta name="twitter:title" content="DevWars - The Developers Battleground">
    <meta name="twitter:description" content="Two teams of three battle to produce the best work of their coding ability, taking the reigns of a single programming language each: HTML, CSS and JavaScript.">
    <meta name="twitter:creator" content="@beauaugust">
    <meta name="twitter:image" content="http://devwars.tv/assets/img/socialmeta/twitter.png">


	<div class="featured">
		<div class="scanlines"></div>
		<div class="herocode1-container"><div class="herocode herocode--1"></div></div>
		<div class="herocode2-container"><div class="herocode herocode--2"></div></div>
		<div class="inner">
			<img src="../../../assets/img/featuredinner.png" class="featuredInner" />
			<img class="surfacepro" src="../../../assets/img/surfacepro.png" />
						
			<div class="featuredText">
				<img class="logo--tournament" src="../../../assets/img/dwtournament.png" />
				<div class="or-seperator"><i class="fa fa-trophy"></i>Win 3 Surface Pros!</div>
				<span>Every Saturday, in November @ 5:30 (UTC)</span>
				
				<div class="button signup">Sign Up For Tournament</div>
				<img class="sponsor" src="../../../assets/img/sponsor.png" />
			</div>
		</div>

		<div class="featured__stats">
			<div class="inner">
				<div class="stats__stat">
					<h3>Games Played</h3>
					<span>{{info.gameCount}}</span>
				</div>
				<div class="stats__stat">
					<h3>Total Users</h3>
					<span>{{info.userCount | number}}</span>
				</div>
				<div class="stats__stat">
					<h3>Blog Posts</h3>
					<span>{{info.blogPostCount | number}}</span>
				</div>
				<div class="stats__stat">
					<h3>Points Earned</h3>
					<span>{{info.pointsEarned | number}}</span>
				</div>
			</div> <!-- .inner -->
		</div> <!-- .featured__stats -->
	</div> <!-- .featured -->

	<div class="inner">
		<div class="row main-content__play">
			<span class="play__text">Want to play in the next DevWars?</span>
			<button type="button" class="button play__button" tabindex="0" ng-click="DialogService.applyForNearestGame($event)">Apply Now</button>
		</div>

		<div class="col-2">
			<div class="left">
				<h3 class="title"><span>Latest News</span></h3>
				<div class="blogpost__preview" ng-repeat="post in posts" layout="row">
					<div flex="25" class="blogpost__image" flex style="background-image: url('{{post.image_url}}')"></div>
					<div layout="column" flex>
						<h3 class="blogpost__header" ng-click="readMore(post)">{{post.title}}</h3>
						<h6>By {{post.user.username}} - {{post.timestamp | date : 'mediumDate' : 'UTC'}}</h6>
						<p class="blogpost__content">{{post.description}}</p>
						<a class="readMoreLink" ng-click="readMore(post)">Read More</a>
					</div>
				</div>
			</div> <!-- .left -->

			<div class="right">
				<sidebar></sidebar>
			</div> <!-- .right -->
		</div> <!-- .col-2 -->
	</div> <!-- .inner -->
</div> <!-- .homeView -->