/* Name:			Variables

Contents:
	01. Colors
		01.1 DevWars Colors
        01.2 Standard Colors
        01.3 Tutorial Colors
		01.4 Brand Colors
	02. Grid
	03. Spacing 
	04. Type 
	05. Globals 

Variables
$file__element--property_modifier
============================================================================ */

$file__element--property_modifier 					: ;

/*  ========================================================================
01.1 DevWars Colors
======================================================================== */

$brand-primary        								: #03a9f4;
$brand-secondary    								: #e91e63;
$brand-tertiary        								: mix($brand-primary, $brand-secondary, 50%);

$bg-color-1                							: #212121;
$bg-color-2                    						: #303030;
$bg-color-3                							: #424242;
$bg-color-4                    						: #4b4b4b;

$text-color-primary                                 : #fff;
$text-color-secondary                               : rgba(#fff, 0.9);
$text-color-muted                                   : rgba(#fff, 0.7);
$text-color-disabled                                : rgba(#fff, 0.5);
$divider-color										: rgba(#fff, 0.12);

$devbit-color										: #f8bf3f;

$body-bg         									: $bg-color-2;
$base-font-color 									: #fff;


/*  ========================================================================
01.2 Standard Colors
======================================================================== */

$red-color 										    : #e74c3c;
$yellow-color										: #f1c40f;
$purple-color										: #8e44ad;
$green-color 										: #2ecc71;
$blue-color 										: #3498db;
$orange-color										: #e67e22;
$grey-color 										: #7f8c8d;
$black-color 										: #000;
$white-color                                        : #fff;

$positive-color 									: $green-color;
$negative-color 									: $red-color;

/*  ========================================================================
01.3 Technology Colors
======================================================================== */

$angular-color 								    	: #e03237;
$bower-color 										: #ef5734;
$css-color  										: #0ebeff;
$grunt-color 										: #e48632;
$gulp-color 										: #cf4646;
$html-color 										: #ff7200;
$java-color 										: #bf8520;
$javascript-color 									: #e5ff0e;
$jquery-color 										: #0769ad;
$node-color 										: #8CC84b;
$php-color 										    : #6172a6;
$react-color 										: #00d8ff;
$ruby-color 										: #85211c;
$ruby-on-rails-color 								: #c00;
$sublime-color 								    	: #ff8100;
$typescript-color 									: #35879b;


/*  ========================================================================
01.4 Brand Colors
======================================================================== */

$facebook-color									    : #0b5998;
$twitter-color										: #4099ff;
$google-color										: #da4835;
$youtube-color										: #e52d27;
$reddit-color										: #ff4500;
$twitch-color										: #6441a5;
$slack-color										: #e9a820;
$cloud9-color										: #1aa6da;
$github-color										: #4183c4;
$linkedin-color									    : #0077b5;
$codepen-color										: #fff;
$website-color										: #fff;
$email-color										: #fff;


/*  ========================================================================
02. Grid
======================================================================== */

$grid-breakpoints: (
    xs: 544px,
    sm: 768px,
    md: 992px,
    lg: 1200px
);

$container-max-widths: (
    sm: 576px,
    md: 720px,
    lg: 940px,
    xl: 1140px
);

$grid-columns										: 12;
$grid-gutter-width						    		: 10px;
$grid-gutter-part						    		: $grid-gutter-width / 2;


/* ========================================================================
03. Spacing
======================================================================== */

$base-space											: 40px;

$xxxs-space											: $base-space / 16;
$xxs-space											: $base-space / 8;
$xs-space											: $base-space / 4;
$s-space											: $base-space / 2;
$m-space											: $base-space;
$l-space											: $base-space * 2;
$xl-space											: $base-space * 4;
$xxl-space											: $base-space * 8;
$xxxl-space											: $base-space * 16;

$sm-space											: $base-space - $xs-space;
$ms-space											: $base-space + $s-space;
$ml-space											: $base-space + $l-space;


/*  ========================================================================
04. Type
======================================================================== */

$base-font-face									    : 'Open Sans', sans-serif;
$alt-font-face										: 'Montserrat', sans-serif;
$sans-font-face			    						: Arial, Verdana, Helvetica, sans-serif;

$base-line-height									: normal;
$base-font-size							    		: 18px;

$headings-color 									: $base-font-color;

$h1-transform										: uppercase;
$h1-font-weight									    : bold;
$h1-font-family									    : $alt-font-face;
$h1-font-size										: 72px;

$h2-transform										: none;
$h2-font-weight									    : bold;
$h2-font-family									    : $alt-font-face;
$h2-font-size										: 35px;

$h3-font-weight									    : bold;
$h3-font-size										: 20px;

$h4-font-weight									    : bold;
$h4-font-size										: 20px;

$h5-font-weight									    : bold;
$h5-font-size										: 20px;

$h6-font-weight									    : bold;
$h6-font-size										: 20px;

$link-color 										: $brand-primary;
$link-color-hover 									: $brand-secondary;


/*  ========================================================================
05. Globals
======================================================================== */

$global__gutter										: 20px;
$global__ribbon										: 300px;





