/* Name:            Variables

Contents:
	01. Colors
		01.1 Brand Colors
		01.2 Tutorial Colors
		01.3 Base Colors
	02. Responsive
	03. Type 

Variables
$file__element--property_modifier
========================================================================== */

$file__element--property_modifier 					: ;

/* ==========================================================================
	01.1 Brand Colors
========================================================================== */

$brand-primary--color 								: #03a9f4;
$brand-secondary--color 							: #e91e63;
$brand-tertiary--color 								: ;

$brand-primary--background							: #232323;
$brand-secondary--background 						: #303030;
$brand-tertiary--background 						: #424242;

$brand-text-primary--color                          : #FFFFFF;
$brand-text-muted--color                            : transparentize(#FFFFFF, 0.3);


$devbit--color 										: #f8bf3f;

/* ==========================================================================
	01.2 Tutorial Colors
========================================================================== */

$tutorials__angular--color 							: #e03237;
$tutorials__bower--color 							: #ef5734;
$tutorials__css--color  							: #6a528f;
$tutorials__grunt--color 							: #e48632;
$tutorials__gulp--color 							: #cf4646;
$tutorials__html--color 							: #ec622d;
$tutorials__java--color 							: #bf8520;
$tutorials__javascript--color 						: #f4e46c;
$tutorials__jquery--color 							: #0769ad;
$tutorials__node--color 							: #8CC84b;
$tutorials__php--color 								: #6172a6;
$tutorials__react--color 							: #00d8ff;
$tutorials__ruby--color 							: #85211c;
$tutorials__ruby-on-rails--color 					: #c00;
$tutorials__sublime--color 							: #ff8100;
$tutorials__typescript--color 						: #35879b;

/* ==========================================================================
	01.3 Base Colors
========================================================================== */

$red--color 										: #e74c3c;
$yellow--color										: #f1c40f;
$purple--color										: #8e44ad;
$green--color 										: #2ecc71;
$blue--color 										: #3498db;
$orange--color										: #e67e22;
$grey--color 										: #7f8c8d;
$black--color 										: #000;

$negative--color 									: $red--color;
$positive--color 									: $green--color;

$base-font--color 									: #fff;
$body--background 									: $brand-primary--background;

$html--color                                        : #ff7200;
$css--color                                         : #0ebeff;
$js--color                                          : #e5ff0e;

/* ==========================================================================
	02. Responsive
========================================================================== */

$responsive__sm										: 768px;
$responsive__md										: 1080px;
$responsive__lg										: 1300px;

/* ==========================================================================
	03. Typebrand-
========================================================================== */

$base--font-face 									: 'Open Sans', sans-serif;
$alt--font-face 									: 'Montserrat', sans-serif;
$sans--font-face 									: Arial, Verdana, Helvetica, sans-serif;

$base--line-height 									: normal;
$base--font-size 									: 18px;

$headings--color 									: $base-font--color;

$h1--transform              						: uppercase;
$h1--font-weight            						: bold;
$h1--font-family									: $alt--font-face;
$h1--font-size               						: 72px;

$h2--transform              						: none;
$h2--font-weight            						: bold;
$h2--font-family									: $alt--font-face;
$h2--font-size               						: 35px;

$h3--font-weight            						: bold;
$h3--font-size										: 20px;

$h4--font-weight            						: bold;
$h4--font-size               						: 20px;

$h5--font-weight            						: bold;
$h5--font-size               						: 20px;

$h6--font-weight            						: bold;
$h6--font-size               						: 20px;

$link--color 										: $brand-primary--color;
$link--color_hover 									: #fff;