///////////////////////////////////////////////
// DevWars Typography                        //
///////////////////////////////////////////////


$base-font-face						: 'Roboto', Arial ,Helvetica Neue, Helvetica, sans-serif;
$fontawesome						: 'FontAwesome', sans-serif;

$font-color							: #fff;


///////////////////////////////////////////////
// Color Variables              		     //
///////////////////////////////////////////////


$primary-color				  		: #03a9f4;
$secondary-color			  		: #e91e63;
$purple-color						: mix($primary-color, $secondary-color);

$foreground-color					: #191919;
$background-color					: #121212;

$white								: #d4d4d4;
$lgray								: #D3D3D3;
$gray								: #363636;
$dgray								: #252525;
$xdgray								: #161616;
$black								: #0e0e0e;

$devbit-color						: #F8BF3F;

$html-color							: #f1672c;
$css-color							: #30a9dc;
$js-color							: #f1bf26;


///////////////////////////////////////////////
// Social Variables                          //
///////////////////////////////////////////////


$twitch-color						: #6441A5;
$youtube-color						: #cd201f;
$facebook-color						: #3b5998;
$twitter-color						: #55acee;
$gplus-color						: #dd4b39;
$reddit-color						: #ff4500;
$youtube-color						: #cc181e;
$github-color						: #333333;
$c9-color							: #1AA6DA;


///////////////////////////////////////////////
// DevWars Size Variables                    //
///////////////////////////////////////////////

$inner-width						: 1160px;
$header-mobile-height				: 60px;