<div class="leaderboardsView inner">


  <div class="leaderboards">
    <h1><i class="fa fa-trophy"></i>Leaderboards</h1>
    <div class="leaderRow leaderRow--header">
      <span class="rank">RANK</span>
      <span class="level">LEVEL</span>
      <span class="username">USERNAME</span>
      <span class="score">SCORE</span>
      <span class="xp">XP</span>
      <span class="games">GAMES</span>
      <span class="gamesWon">GAMES WON</span>
      <span class="ratio">RATIO</span>
    </div> <!-- .leaderRow.leaderRow--header -->

    <a ng-href="/profile?username={{user.username}}" class="leaderRow" ng-repeat="user in users">
      <span class="rank">{{$index + 1}}</span>
      <span class="level">{{user.rank.level}}</span>
      <span class="username">{{user.username}}</span>
      <span class="score">{{ user.score }}</span>
      <span class="xp">{{user.ranking.xp}}</span>
      <span class="games">{{user.gamesPlayed}}</span>
      <span class="gamesWon">{{user.gamesWon}}</span>
      <span class="ratio">{{(user.gamesWon / (user.gamesPlayed > 0.0 ? user.gamesPlayed : 1.0)) | number : 2 }}</span>
    </a> <!-- .leaderRow -->

    <div class="loadMore" ng-click="loadMore()">
      Click To Load More
    </div> <!-- .loadMore -->


  </div> <!-- .leaderboards -->


</div> <!-- .leaderboardsView.inner -->
