header.full-container {
	position: relative;
	background: $foreground-color;

	.span6 {
		text-align: right;

		&:first-child {
			text-align: left;
		}
	}

	.notification-banner {		
		line-height: 38px;
		font-size: 20px;
		color: $font-color;
		background: $primary-color;
		border-bottom: 2px solid darken($primary-color, 20%);

		span {
			display: block;
			text-align: center;
			font-weight: 200;
		}

		a {
			font-weight: bold;
			color: $gray;

			&:hover {
				color: $black;
			}

		}

		.notification-banner-close {
			position: absolute;
			top: 0;
			right: 20px;
			line-height: 38px;
			cursor: pointer;

			&:hover {
				color: $foreground-color;
			}

		}

	}

}

@media screen and (max-width: $container-width) {

	header.full-container {

		.notification-banner {
			display: none;
		}

	}

}

header.full-container {

	.user-bar {
		background: $dgray;
	}

	.devbit-total {
		display: inline-block;
		vertical-align: top;

		&:before {
			content: "";
			display: inline-block;
			vertical-align: middle;
			width: 20px;
			height: 20px;
			background: url("/assets/img/devbit-s.png") no-repeat center;
			background-size: contain;
		}

		span {
			display: inline-block;
			vertical-align: middle;
			padding: 0 10px 0 5px;
			line-height: 30px;
			font-size: 14px;
		}


		&:hover {
			color: color($orange);
		}

	}

	.info-username.dropdown {
		position: relative;
		display: inline-block;
		font-size: 14px;
		cursor: pointer;

		.fa-caret-down { font-size: 12px; padding-left: 5px; }
	}

    .username-select {
        background: $secondary-color;
    }

	.info-username__dropdown-menu {
		display: none;
		position: absolute;
		top: 30px;
		right: 0;
		min-width: 150px;
		z-index: 1000;
		border-top: 1px solid #000;
		background: $dgray;

		li {
			display: block;
			text-align: left;
			padding: 0 10px;

			&:hover { 
				background: $secondary-color;
			}

		}

		i {
			width: 20px;
		}

	}

    .dropdown-active {
        display: block;
    }

	.bottom-bar {

		.span6 {
			position: absolute;
			bottom: 0;
			height: 2px;
			width: 50%;
			right: 0;
			background: $secondary-color;

			&:first-child {
				right: auto;
				left: 0;
				background: $primary-color;
			}

		}

	}

}

nav.row {
	height: 60px;
	margin: 0 auto;

	ul {
		text-align: center;
	}

	li {
		display: inline-block;
		padding: 0 0 0 70px;
		vertical-align: top;
		font-size: 14px;

		&:first-child {
			padding: 0;
		}

		&:hover a:after {
			height: 8px;
		}

	}

	.blue-nav a:after {
		background: $primary-color;
	}

	.red-nav a:after {
		background: $secondary-color;
	}

	a {
		position: relative;
		display: inline-block;
		width: 110px;
		line-height: 60px;

		&:after {
			content: "";
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			height: 0;
			@include transition(height, 0.3s, ease);
		}

	}

	.logo {
		cursor: pointer;
		border: 5px solid $foreground-color;
		@include transition(background-color, 200ms, ease);


		&:hover {
			background-color: $gray;
		}

	}

}

@media screen and (max-width: $container-width) {

	nav.row {

		li {
			padding: 0 0 0 33px;
		}

	}

}

@media screen and (max-width: $container-tablet-width) {

	nav.row {

		li {
			padding: 0 0 0 4px;
		}

	}

}
