.sidebarView {

    .sidebar-box {
		text-align: center;
		display: block;
		padding: 10px 10px;
		height: auto;
        margin-bottom: 20px;
		h3 { font-size: 2rem; font-weight: 200; }
		span { font-size: 14px; }	

		&.explain {
            background: $primary-color;
            &:hover {
                background-color: lighten($primary-color, 5%);
            }
        }

	    &.donate {
		    background-color: #0E9841;
		    &:hover {
			    background-color: lighten(#0E9841, 5%);
		    }
	    }

        &.extension {
            background-color: $secondary-color;
            h3 { font-size: 1.6rem; }
            &:hover {
                background-color: lighten($secondary-color, 5%);
            }
        }
    }

	.leaderboard {
		width: 100%;

		&:first-child {
			margin-bottom: 20px;
		}
		
		.title {
			margin-bottom: 0;
			border-bottom: none;
			.fa { padding-right: 10px; }
			&:before { display: none; }
		}
	}

	.leaderboard__lb-row {
		width: 100%;
		font-size: 0;
	}

	a:nth-child(odd) .leaderboard__lb-row {
		background-color: $dgray;
		&:hover {
			background-color: $lgray;
			color: $background-color;
		}
	}

	.leaderboard__lb-row {
		width: 100%;
		padding: 10px 0;
		font-size: 0;
		text-align: center;
		transition: all 100ms ease-out;
		&:hover {
			background-color: $lgray;
			color: $background-color;
		}
	}


	.lb-row__lb-col {
		display: inline-block;
		width: auto;
		font-size: 12px;
		&:nth-child(1) { width: 10%; }
		&:nth-child(2) { width: 40%; }
		&:nth-child(3) { width: 30%; }
		&:nth-child(4) { width: 20%; }
	}
	
	
}
