<md-dialog class="md-dialog-container--editPlayerDialog">
    <i class="closeDialog fa fa-close" ng-click="$mdDialog.hide()"></i> <!-- .closeDialog -->
    <div class="dialog-container">
        <h2 class="dialog-container__title">Edit {{player.user.username}}</h2>

        <ul class="dialog-container__actions">
            <li class="dialog-container__action" ng-repeat="conflict in conflicts">{{conflict}}</li>
        </ul>

        <div class="form__group">
            <md-autocomplete
                    md-items="user in pendingPlayersQuery()"
                    md-selected-item="selectedUser"
                    md-selected-item-change="selectedUserChange()"
                    md-search-text="searchText"
                    placeholder="Username Search"
                    class="dialog-container__playerSearch">

                <span layout="row" layout-align="space-between center">
                    <span>{{user.username}}</span>
                    <div ng-hide="user.provider" class="logo logo-icon"></div>
                    <i ng-show="user.provider" class="fa fa-{{user.provider | lowercase}}"></i>
                </span>

            </md-autocomplete>

            <input type="text" ng-model="selectedLanguage" class="form__input form__input--text" placeholder="Language">

            <div layout="row" layout-align="space-between center">
                <md-radio-group ng-model="selectedTeam">
                    <md-radio-button class="teamRadioButton" ng-value="team" ng-repeat="team in game.teams">
                        {{team.name}}
                    </md-radio-button>
                </md-radio-group>

                <div ng-controller="UserController" ng-init="setUser(selectedUser)">
                    <h5>DevBits</h5>
                    <h5 class="dialog-container__points">{{user.ranking.points | number}}</h5>
                    <div layout="row" layout="space-around center" class="pointBox">
                        <div layout="column" layout-align="start center" class="pointBox__add">
                            <button class="button" ng-click="addPoints(10)"><i class="fa fa-plus"></i>10</button>
                            <button class="button" ng-click="addPoints(50)"><i class="fa fa-plus"></i>50</button>
                            <button class="button" ng-click="addPoints(100)"><i class="fa fa-plus"></i>100</button>
                        </div>

                        <div layout="column" layout-align="start center" class="pointBox__add">
                            <button class="button" ng-click="addPoints(-10)"><i class="fa fa-minus"></i>10</button>
                            <button class="button" ng-click="addPoints(-50)"><i class="fa fa-minus"></i>50</button>
                            <button class="button" ng-click="addPoints(-100)"><i class="fa fa-minus"></i>100</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="dialog-container__actions" layout="row" layout-align="space-around end">
                <button class="button" ng-click="done()">Done</button>
                <button class="button button--warn" ng-click="cancel()">Cancel</button>
            </div>

        </div>
    </div>
</md-dialog>