<div class="modCPView right">
	<h1>Create Game</h1>
	<div class="modcp-content">
        <select ng-model="name">
            <option value='' disabled selected>Select Mode</option>
            <option value="Classic">Classic</option>
            <option value="Zen Garden">Zen Garden</option>
        </select>

        <div class="modcp-datecontrol">
            <button class="button datePicker" type="text" pick-a-date="pickedDate">Pick Date</button>
            <button class="button timePicker" type="text" pick-a-time="pickedTime">Pick Time</button>
        </div>

        <div class="modcp-dateBox">
            <span class="dateBox-title">Zen Garden</span>
            <div class="dateBox-date">
                <span>{{ pickedDate | date : 'MMM' : 'UTC'}}</span>
                <span>{{ pickedDate | date : 'dd' : 'UTC' }}</span>
            </div>
            <div class="dateBox-time">
                 <span>{{ pickedTime | date : 'shortTime' : 'UTC' }}</span>
            </div>
        </div>

        <button class="button saveButton" ng-click="createGame()">Create Game</button>
	</div> <!-- .modcp-content -->
</div> <!-- modCPView.right -->
