<div class="modCPView right">
	<h1>Create Teams</h1>
	<div class="modcp-content">

		<div class="players-selected">
			<div class="leaderRow leaderRow--header blueplayers">
				<span class="position">POSITION</span>
				<span class="username">USERNAME</span>
				<span class="cloud9">CLOUD9</span>
			</div> <!-- .leaderRow.leaderRow--header -->
			<div class="leaderRow" ng-repeat="player in selectedGame.teams.blue.players" ng-click="removePlayer(player, selectedGame.teams.blue)">
				<span class="position">{{ player.language }}</span>
				<span class="username">{{ player.user.username }}</span>
				<span class="cloud9">{{ player.user.warrior.c9Name }}</span>
			</div> <!-- .leaderRow -->
		</div>
       
        <div class="players-selected">
            <div class="leaderRow leaderRow--header redplayers">
                <span class="position">POSITION</span>
                <span class="username">USERNAME</span>
                <span class="cloud9">CLOUD9</span>
            </div> <!-- .leaderRow.leaderRow--header -->
            <div class="leaderRow" ng-repeat="player in selectedGame.teams.red.players" ng-click="removePlayer(player, selectedGame.teams.red)">
                <span class="position">{{ player.language }}</span>
                <span class="username">{{ player.user.username }}</span>
                <span class="cloud9">{{ player.user.warrior.c9Name }}</span>
            </div> <!-- .leaderRow -->
        </div>

        <div class="players-applied">
            <div class="leaderRow leaderRow--header">
                <span class="username">USERNAME</span>
                <span class="cloud9">CLOUD9</span>
                <span class="games">GAMES</span>
                <span class="ratio">RATIO</span>
                <span class="html">HTML</span>
                <span class="css">CSS</span>
                <span class="js">JS</span>
            </div> <!-- .leaderRow.leaderRow--header -->

            <div class="leaderRow" ng-repeat="user in selectedGame.appliedUsers" ng-click="addPlayer(user)">
                <span class="username">{{ user.username }}</span>
                <span class="cloud9">{{ user.warrior.c9Name }}</span>
                <span class="games">{{ user.gamesPlayed }}</span>
                <span class="ratio">{{(user.gamesWon / (user.gamesPlayed > 0.0 ? user.gamesPlayed : 1.0)) | number : 2 }}</span>
                <span class="html">{{ user.warrior.htmlRate }}</span>
                <span class="css">{{ user.warrior.cssRate }}</span>
                <span class="js">{{ user.warrior.jsRate }}</span>
            </div> <!-- .leaderRow -->
        </div> <!-- .leaderboards -->

        <button class="button" ng-click="saveGame(selectedGame)">Save and Push to Firebase</button>

	</div> <!-- .modcp-content -->


    <div class="modcp-content" ng-show="appliedTournamentTeams">
        <h1>Tournament Teams</h1>
        <h2></h2>

        <div class="players-applied">
            <div class="leaderRow leaderRow--header">
                <span class="username">NAME</span>
                <span class="cloud9">OWNER</span>
                <span class="games">TAG</span>
                <span class="ratio">ID</span>
                <span class="html">-</span>
                <span class="css">-</span>
                <span class="js">-</span>
            </div> <!-- .leaderRow.leaderRow--header -->

            <div class="leaderRow" ng-repeat="team in appliedTournamentTeams | orderBy: 'userTeam.id'" ng-click="(applyTeamToGame(team.userTeam))">
                <span class="username">{{ team.userTeam.name }}</span>
                <span class="cloud9">{{ team.userTeam.owner.username }}</span>
                <span class="games">[{{ team.userTeam.tag }}]</span>
                <span class="ratio">{{ team.userTeam.id }}</span>
                <span class="html">-</span>
                <span class="css">-</span>
                <span class="js">-</span>
            </div> <!-- .leaderRow -->
        </div> <!-- .leaderboards -->


    </div> <!-- .modcp-content -->
</div> <!-- modCPView.right -->
