<md-dialog class="md-dialog-container--inputDialog">
    <i class="closeDialog fa fa-close" ng-click="$mdDialog.hide()"></i> <!-- .closeDialog -->
    <div class="dialog-container">
        <h4 class="title">{{title}}</h4>

        <input type="text" class="form__input form__input--text" placeholder="{{message}}" ng-model="input">

        <div layout="row" layout-align="space-around center">
            <button class="button" ng-click="$mdDialog.hide(input)">Confirm</button>
            <button class="button button-warn" ng-click="$mdDialog.confirm(input)">Cancel</button>
        </div>
    </div>
</md-dialog>