<md-dialog class="md-dialog-container--loginDialog">
    <i class="closeDialog fa fa-close" ng-click="$mdDialog.hide()"></i> <!-- .closeDialog -->
    <div class="dialog-container" ng-controller="LoginDialogController" ng-enter="login(credentials)">
        <h2 class="dialog-container__title">Sign in to DevWars</h2>

		<div class="socialConnect__box">
            <i class="socialConnect fa fa-facebook" title="Facebook" oauth provider="facebook"><a href="/v1/oauth/facebook"></a></i>
            <i class="socialConnect fa fa-twitter" title="Twitter" oauth provider="twitter"><a href="/v1/oauth/twitter"></a></i>
            <i class="socialConnect fa fa-google-plus" title="Google+" oauth provider="google"><a href="/v1/oauth/google"></a></i>
            <i class="socialConnect fa fa-twitch" title="Twitch" oauth provider="twitch"><a href="/v1/oauth/twitch"></a></i>
            <i class="socialConnect fa fa-github-alt" title="Github" oauth provider="github"><a href="/v1/oauth/github"></a></i>
		</div>
       
       <div class="title--line"><span>or</span></div>

        <div class="incorrectCredentials" ng-if="incorrectCredentials">Incorrect Login Credentials</div>

        <form class="form__group">
            <input name="username" ng-model="credentials.username" type="text" class="form__input--text form__input--inline"
                   placeholder="Username">
            <input name="current-password" ng-model="credentials.password" type="password" class="form__input--text form__input--inline"
                   placeholder="Password">

            <div class="action-buttons">
                <button ng-click="login(credentials)" type="button" class="button">Log In</button>
                <a href="#" ng-click="$mdDialog.cancel({register: true})">Need an account?</a>
            </div>
        </form>
    </div>
</md-dialog>
