<footer>
	<div class="newsletter-box">
		<h2>Subscribe to our mailing list</h2>
		<a subscribe class="newsletter-box__button button">Subscribe</a>
	</div> <!-- .newsletter-box -->
	
	
	<div class="inner">
		<div class="sitemap">
			<ul>
				<li>DEVWARS</li>
				<li><a href="/#/">Home</a></li>
				<li><a href="/#/blog">Blog</a></li>
				<li><a href="/#/leaderboards">Rankings</a></li>
				<li><a href="#">Forum</a></li>				
			</ul>
			<ul>
				<li>USEFUL LINKS</li>
				<li><a href="/#/games">Past Games</a></li>
				<li><a href="/#/games">Apply to Play</a></li>
				<!-- <li><a href="">Rules</a></li> -->
				<li><a href="/#/help#navtop">FAQ</a></li>
			</ul>
			<ul>
				<li>COMPANY</li>
				<li><a href="/#/about#about">About DevWars</a></li>
				<li><a href="/#/about#team">The Team</a></li>
				<li><a href="https://www.twitchalerts.com/donate/devwars">Donate</a></li>
				<li><a href="/#/contact">Contact Us</a></li>
			</ul>
			
			<ul class="footer-links__social">
				<li class="footer-social-title">CONNECT WITH US</li>
				<li><a href="https://twitter.com/devwarstv" target="_blank"><i class="fa fa-twitter"></i></a></li>
				<li><a href="https://www.facebook.com/DevWars" target="_blank"><i class="fa fa-facebook"></i></a></li>
				<li><a href="https://plus.google.com/112749022510452176816" target="_blank"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="http://www.reddit.com/r/devwars" target="_blank"><i class="fa fa-reddit"></i></a></li>
				<li><a href="http://www.twitch.tv/devwars" target="_blank"><i class="fa fa-twitch"></i></a></li>
				<li><a href="https://www.youtube.com/c/DevWars" target="_blank"><i class="fa fa-youtube"></i></a></li>
			</ul>
		</div> <!-- .sitemap -->
		<div class="footer-legal">
			<p>&copy; DevWars 2015</p>


			<div class="other-links">
				<!-- <a href="#">Terms</a>
				<a href="#">Privacy</a> -->
				<a href="/#/contact">Contact</a>
			</div>	
		</div> <!-- .footer-legal -->
    </div> <!-- .inner -->
</footer>
