/*  Name:			btns

Contents:
	01. Default
		01.1 Build Basic Button Variants
	02. Other Variants
		02.1 Buttno Link
		02.2 Button Disabled
		02.3 Button Sizes

Variables
$file__element--property_modifier
============================================================================ */

$btn-padding										: $xs-space $s-space;
$btn-text-transform								    : uppercase;
$btn-font-size										: 14px;
$btn-font-weight									: 600;

$btn-color											: #fff;
$btn-bg								         	    : $brand-primary;

$btn-secondary-bg			        				: $brand-secondary;
$btn-secondary-color								: #fff;

$btn-positive-bg        							: $positive-color;
$btn-positive-color 								: #fff;

$btn-negative-bg							        : $negative-color;
$btn-negative-color								    : #fff;

$btn-disabled-bg 							        : $grey-color;
$btn-disabled-color 								: $black-color;


$btn--variants: (
    btn-secondary $btn-secondary-bg $btn-secondary-color,
    btn-positive $btn-positive-bg $btn-positive-color,
    btn-negative $btn-negative-bg $btn-negative-color,
    btn-disabled $btn-disabled-bg $btn-disabled-color,
    btn-youtube $youtube-color #fff
);

$btn-outline--variants: (
    btn-outline-secondary $btn-secondary-bg white,
    btn-outline-positive $btn-positive-bg white,
    btn-outline-negative $btn-negative-bg white,
    btn-outline-disabled $btn-disabled-bg white,
    btn-outline-white $white-color black
);

/*  ========================================================================
	01. Default
	======================================================================== */

.btn {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	outline: none;
	border: 1px solid transparent;
	text-decoration: none;
	text-align: center;
	font-style: normal;
	margin: 0;
	padding: $btn-padding;
	line-height: 1;
	text-transform: $btn-text-transform;
	color: $btn-color;
	background-color: $btn-bg;
	font-size: $btn-font-size;
	font-weight: $btn-font-weight;
	transition: all .25s;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	
	&:hover {
		color: $btn-color;
		background-color: lighten($btn-bg, 10%);
	}
}

/*  ========================================================================
	01.1 Build Button Variants
	======================================================================== */

@each $btn-type in $btn--variants {

	.#{nth($btn-type, 1)} {
		background-color: #{nth($btn-type, 2)};
		color: #{nth($btn-type, 3)};
	
		&:hover {
			color: #{nth($btn-type, 3)};
			background-color: lighten(nth($btn-type, 2), 10%);
		}
	}
}

@each $btn-type in $btn-outline--variants {

	.#{nth($btn-type, 1)} {
		background-color: transparent;
		border-color: #{nth($btn-type, 2)};
		color: #{nth($btn-type, 2)};

		&:hover {
			color: #{nth($btn-type, 3)};
			background-color:  nth($btn-type, 2);
			border-color: nth($btn-type, 2);
		}
	}
}

/*  ========================================================================
	02.1 Button Link
	======================================================================== */

.btn.btn-link {
	font-weight: normal;
	color: $brand-primary;
	background: transparent;
	text-decoration: underline;
}

/*  ========================================================================
	02.2 Button Disabled
	======================================================================== */


.btn.btn-disabled {
	opacity: 0.65;
	pointer-events: none;
}

/*  ========================================================================
	02.3 Button Sizes
	======================================================================== */

.btn-sm {
}

.btn-lg {
}
