/* Name:			Card

Contents:
	01. Card
		01.2 Rank
		01.3 Team
		01.4 Accolades / Friends
		01.5 Scores
		01.6 Social
		01.7 Activity log

Variables
$file__element--property_modifier
============================================================================ */



/*  ========================================================================
	01. Card
	======================================================================== */

.card {
	@extend %material;
	display: block;
	margin-bottom: 20px;
	border-top: 3px solid $brand-secondary--color;
	background-color: $bg-color-3;

	a {
		text-decoration: none;
	}

	&__inner {
		padding: 15px;
	}

	&__title {
		padding: 0 0 15px;
		font-size: 18px;
	}

	&__image {
		display: block;
		margin: 0 auto 15px;
		max-width: 100px;
	}
	
	&--plain {
		border-top: none;
	}
	
	&--ribbon {
		border-top: none;
		
		.card__inner {
			padding: 15px 30px;
		}
	}
}

@include breakpoint(sm) {

	.card {

	}
}

@include breakpoint(md) {

	.card {

	}
}