/* Name:			Social Icons

Contents:
	01. Build colors & icons

Variables
$file__element--property_modifier
============================================================================ */

$social--sets:  (
	facebook $facebook-color,
	twitter $twitter-color,
	google $google-color,
	youtube $youtube-color,
	reddit $reddit-color,
	twitch $twitch-color,
	slack $slack-color,
	cloud9 $cloud9-color,
	github $github-color,
	linkedin $linkedin-color,
	codepen $codepen-color,
	website $website-color,
	email $email-color
);

/*  ========================================================================
	01. Build colors & icons
	======================================================================== */

.social-icons {

	ul {
		list-style-type: none;
		font-size: 0;
	}

	li {
		display: inline-block;
		margin: 0 $xxs-space;
		line-height: 26px;
	}

	@each $social-type in $social--sets {

		.#{nth($social-type, 1)} {

			a {
				background-color: #{nth($social-type, 2)};	

				&:hover {
					background-color: darken(nth($social-type, 2), 10%);
				}
			}
		}
	}

	a {
		display: block;
		text-align: center;
		width: 26px;
		border-radius: 5px;
		color: #fff;
		transition: all 0.25s;
	}

	.icon {
		vertical-align: top;

		&:before {
			vertical-align: top;
			line-height: 26px;
		}
	}

	&--inverted {

		@each $social-type in $social--sets {

			.#{nth($social-type, 1)} {

				a {
					color: #{nth($social-type, 2)};	
					background-color: transparent;

					&:hover {
						color: darken(nth($social-type, 2), 10%);
						background-color: transparent;
					}
				}
			}
		}
	}
}