/* Name:			Forms

Contents:
	01. Forms
	02. Inputs

Variables
$file__element--property_modifier
============================================================================ */



/*  ========================================================================
	01. Forms
	======================================================================== */

.form-group {
	margin-bottom: $grid__gutter--width-sm * 2;
}

.form-control {
	display: block;
	width: 100%;
	padding: .5rem .75rem;
	font-size: 1rem;
	line-height: 1.25;
	background-color: transparent;
	background-image: none;
	background-clip: padding-box;
	border: none;
	border-bottom: 1px solid $text-color-disabled;
	outline: none;
	transition: all 50ms ease-in-out;
	
	&:focus {
		border-color: $brand-primary;
		border-width: 2px;
		margin-bottom: 0;
	}
}

.select--clear {
	background: transparent;
	border: none;
	font-family: $alt-font-face;
	text-transform: uppercase;
	font-weight: bold;
	outline: none;
	
	option {
		background-color: $white-color;
		color: $black-color;
	}
}

/*  ========================================================================
	01. Inputs
	======================================================================== */