/* Name:			Grid System

Contents:
	01. Containers
	02. Rows
	03. Columns
	04. Generate responsive columns

Variables
$file__element--property_modifier
============================================================================ */


/*  ========================================================================
	01. Containers
	======================================================================== */

.container {
    @extend %clearfix;
	margin: $grid-gutter-width ($grid-gutter-width * 2) 0;
}

.container-fluid {
    @extend %clearfix;
	width: 100%;
}

.no-gutter {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

@include breakpoint(sm) {

	.container {
		margin: 0 auto;
        width: map-get($container-max-widths, md);
	}
}

@include breakpoint(md) {

	.container {
        width: map-get($container-max-widths, lg);
	}
}

@include breakpoint(lg) {

	.container {
        width: map-get($container-max-widths, xl);
	}
}

/*  ========================================================================
	02. Rows
	======================================================================== */

.row {
	margin-left: -$grid-gutter-width;
	margin-right: -$grid-gutter-width;

	&:after {
		content: '';
		display: table;
		clear: both;
	}
	
	&--lift {
		margin-top: -($global__ribbon / 1.3);
	}
}

/*  ========================================================================
	03. Columns
	======================================================================== */

[class*=col-] {
	float: left;
	padding-left: $grid-gutter-width;
	padding-right: $grid-gutter-width;
	width: 100%;
}

/*  ========================================================================
	04. Generate responsive columns
	======================================================================== */

@include breakpoint(xs-only) {

	@for $i from 1 through $grid-columns {
		
		.col-xs-#{$i} {
			width: percentage($i / $grid-columns);
		}
	}
}

@include breakpoint(sm) {

	@for $i from 1 through $grid-columns {
		
		.col-sm-#{$i} {
			width: percentage($i / $grid-columns);
		}
	}
}
		
@include breakpoint(md) {
	
	@for $i from 1 through $grid-columns {
		
		.col-md-#{$i} {
			width: percentage($i / $grid-columns);
		}
	}
}

@include breakpoint(lg) {
	
	@for $i from 1 through $grid-columns {
		
		.col-lg-#{$i} {
			width: percentage($i / $grid-columns);
		}
	}
}