/* Name:			Page Headings

Contents:
	01. Heading

Variables
$file__element--property_modifier
============================================================================ */



/*  ========================================================================
01. Heading
======================================================================== */

.heading {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	
	h1 {
		font-size: 42px;
	}
}