/* Name:			Page Headings

Contents:
	01. Base styles
	02. Generate heading

Variables
$file__element--property_modifier
============================================================================ */



/*  ========================================================================
	01. Base styles
	======================================================================== */

.heading {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	
	h1 {
		font-size: 42px;
	}
}

/*  ========================================================================
	01. Generate headings
	======================================================================== */

.headings {
	display: flex;
	align-items: center;
	height: 70px;

	h1 {
		text-align: center;
		font-size: 26px;
	}
}

@include breakpoint(sm) {

	.headings {
		height: 100px;

		h1 {
			font-size: 36px;
		}
	}
}

@include breakpoint(md) {

	.headings {
		height: 150px;

		h1 {
			font-size: 50px;
		}
	}
}

@include breakpoint(lg) {

	.headings {
		height: 230px;

		h1 {
			font-size: 72px;
		}
	}
}