/* Name:            Tooltips

Contents:
	01.

Variables
$file__element--property_modifier
========================================================================== */

$tooltip--padding                  					: ;
$tooltip--width                    					: ;
$tooltip--font-size                					: ;
$tooltip--color                   					: ;
$tooltip--background               					: ;

/* ==========================================================================
	01.
========================================================================== */