/* Name:            Typography

Contents:
	01. Typeface import
	02. Heading
	03. Paragraph
	04. Link

/* =========================================================================
	01. Typeface import
========================================================================== */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,600,700);

/* =========================================================================
	02. Heading
========================================================================== */

h1,
h2, 
h3,
h4,
h5,
h6 {
	margin: 0;
	line-height: normal;
	color: $headings--color;
}

h1 {
	text-transform: $h1--transform;
	font-weight: $h1--font-weight;
	font-family: $h1--font-family;
	font-size: $h1--font-size;
}

h2 {
	text-transform: $h2--transform;
	font-weight: $h2--font-weight;
	font-family: $h2--font-family;
	font-size: $h2--font-size;
}

h3 {
	font-weight: $h3--font-weight;
	font-size: $h3--font-size;
}

h4 {
	font-weight: $h4--font-weight;
	font-size: $h4--font-size;
}

h5 {
	font-weight: $h5--font-weight;
	font-size: $h5--font-size;
}

h6 {
	font-weight: $h6--font-weight;
	font-size: $h6--font-size;
}

/* ==========================================================================
	03. Paragraph
========================================================================== */

p {
	margin: 0;
}

/* ==========================================================================
	04. Link
========================================================================== */

a {
	color: $link--color;
	background: transparent;

	&:hover {
		text-decoration: none;
		color: $link--color_hover;
	}

	&:active,
	&:focus,
	&:hover {
		outline: 0;
	}
}