<form>
  Date:<br>
  <button class="button datePicker" type="text" pick-a-date="pickedDate">Pick Date</button>
  <br>
  Time:<br>
  <button class="button datePicker" type="text" pick-a-time="pickedTime">Pick Time</button>
  <br>
  Theme:<br>
  <input ng-model="game.theme" type="text" name="theme">
  <br>
  Game Type:<br>
  <select ng-model="game.name">
    <option value='' disabled selected>Select Mode</option>
    <option value="Tournament">Tournament</option>
    <option value="Classic">Classic</option>
    <option value="Zen Garden">Zen Garden</option>
  </select>


  Objectives: (red left, blue right)<br>
  <div ng-repeat="i in [0,1,2,3,4]">
    <input type="text" name="objective" ng-model="game.objectives[i].name"><input type="checkbox" name="vehicle"
                                                                                  ng-model="game.objectives[i].red"
                                                                                  ng-init="game.objectives[i].red = false"
                                                                                  value="red"><input type="checkbox"
                                                                                                     ng-model="game.objectives[i].blue"
                                                                                                     ng-init="game.objectives[i].blue = false"
                                                                                                     name="vehicle"
                                                                                                     value="blue"><br>
  </div>

  Players (red):<br>
  <input type="text" ng-model="game.redTeam.HTML" name="red player"><br>
  <input type="text" ng-model="game.redTeam.CSS" name="red player"><br>
  <input type="text" ng-model="game.redTeam.JS" name="red player"><br>

  Players (blue):<br>
  <input type="text" ng-model="game.blueTeam.HTML" name="blue player"><br>
  <input type="text" ng-model="game.blueTeam.CSS" name="blue player"><br>
  <input type="text" ng-model="game.blueTeam.JS" name="blue player"><br>

  Design votes red:<br>
  <input type="text" ng-model="game.designVotesRed" name="design red"><br>
  Design votes blue:<br>
  <input type="text" ng-model="game.designVotesBlue" name="design blue"><br>
  Func votes red:<br>
  <input type="text" ng-model="game.funcVotesRed" name="func red"><br>
  Func votes blue:<br>
  <input type="text" ng-model="game.funcVotesBlue" name="func blue"><br>
  youtube URL:<br>
  <input type="text" ng-model="game.youtubeURL" name="youtube"><br>
  <button class="button" ng-click="submit(game)" value="Submit">Submit</button>
</form>
