<div class="stat-box__inner">
	<h2 class="stat-box__title">Friends (48)</h2>
	<div class="stat-box__item">
		<a href="#">
			<img src="../../../../assets/image/avatar.png" class="stat-box__image" alt="Terence">
			<div class="stat-box__desc">Terence</div>
		</a>
	</div>						
	<div class="stat-box__item">
		<a href="#">
			<img src="../../../../assets/image/avatar.png" class="stat-box__image" alt="Donald">
			<div class="stat-box__desc">Donald</div>
		</a>
	</div>
	<div class="stat-box__item">
		<a href="#">
			<img src="../../../../assets/image/avatar.png" class="stat-box__image" alt="Steven">
			<div class="stat-box__desc">Steven</div>
		</a>
	</div>
</div>